//Body
.body-bg {
    @extend %bg-def;
}
//HEADER
.head-cont {
    margin-top: $size-010;
    background-color: $color-01;
    @extend %head-size;
    @extend %border-def;
    z-index: 1;
    .nav-box {
        margin: 0 auto;
        padding: $size-020 0;
        @extend %nav-box-size;
        @include d-flex (flex,space-between,center);
        @extend %nav-box-med;
        .nav-logo {
            @extend %nav-logo-size;
            @extend %border-def;
            @extend %hover-def;
            @extend %nav-logo-med;
            .img-100 {
                width: $size-0;
            }
        }
        .navi {
            @extend %navi-size;
            @include d-flex (flex,space-between,center);
            @extend %navi-med;
            @extend %nav-ul-open-med;
            @extend %open-soci-med;
            .nav-ul {
                @extend %nav-ul-size;
                @include d-flex (flex,space-between,center);
                @extend %nav-ul-med;
                .nav-li {
                    border-radius: $size-05;
                    @extend %nav-li-med;
                    @extend %hover-dop;
                    .nav-a {
                        @extend %font-h1-def;
                        @extend %nav-a-med;
                    }
                    .nav-drop-ul {
                        max-width: $size-0160;
                        width: $size-0;
                        height: $size-0270;
                        position: absolute;
                        top: $size-65;
                        left: $size-26;
                        display: none;
                        .nav-drop-li{
                            margin: $size-05 0;
                            padding: $size-05 0;
                            text-align: center;
                            @extend %border-def;
                            background-color: $color-01;
                            .nav-drop {
                                @extend %font-a-drop;
                            }
                        }
                    }
                }
            }
            .soc-ul {
                display: flex;
                @extend %soc-ul-size;
                @extend %soc-ul-med;
                .soc-li {
                    padding: $size-010 $size-05;
                    margin-bottom: $size-05;
                    .fa {
                        @extend %font-fa-def;
                    }
                    .soc-a {
                        @extend %font-bol-def;
                        @extend %hover-def;
                        @extend %soc-a-med;
                    }
                }
                .contact-ul {
                    padding: 0 $size-010;
                }
                .contact-box {
                    @include d-flex (flex,space-between,end);
                    flex-direction: column;
                }
            }
        }
        .burger-icon {
            display: none;
            @extend %burger-icon-med;
        }
    }
}
//Section-1
.sect-1 {
<<<<<<< HEAD
    margin: $size-0215 0 $size-025 0;
=======
    margin: $size-0130 0 $size-025 0;
>>>>>>> 0f4bbee98267ff929a58d6d8f0db3ddaad2a09a8
    position: relative;
    .sect-1-cont {
        margin: 0 $size-095;
        z-index: 2;
        .sect-1-box {
<<<<<<< HEAD
            max-width: 2560px;
            width: $size-0;
            @extend %border-def;
            border-radius: 3px;
=======
            max-width: 1400px;
            border-radius: 5px;
>>>>>>> 0f4bbee98267ff929a58d6d8f0db3ddaad2a09a8
            .slick-dots {
                bottom: 30px;
                li {
                    button {
                        &:before {
                            font-size: 15px;
                        }
                    }
                }
                .slick-active {
                    margin: 0 20px;
                    button {
                        &:before {
                            color: $color-02;
                        }
                    }
                }
            }
            .sect-1-img {
                @extend %sect-1-img-size;
                border-radius: $size-05;
            }
        }
    }
    // .shadow {
    //     width: $size-0;
    //     height: 180px;
    //     position: absolute;
    //     top: 65%;
    //     z-index: -1;
    //     @extend %shad-def;
    // }
}
//Section-2
.sect-2 {
    @extend %sect-2-size;
    @extend %border-def;
    background-color: $color-01;
    margin: $size-050 auto;
    @include d-flex (flex,space-around,center);
    .sect-2-flt {
        @extend %sect-2-flt-size;
        margin: 20px 0;
        .s2-flt-ul {
            .s2-flt-li {
                padding: 20px;
                @extend %font-h3-def;
                @extend %border-def;
            }
        }
    }
    .sect-2-box {
        @extend %sect-2-box-size;
        @include d-flex (flex,space-evenly,center);
        flex-direction: column;
        .cont-1 {
        @extend %cont-1-size;
        @include d-flex (flex,space-around,center);
        .cont-1-box {
            background-color: $color-010;
            @extend %cont-1-box-size;
            @extend %border-def;
            @include d-flex (flex,flex-end,center);
            flex-direction: column;
            .cont-1-img {
                max-width: $size-0200;
                .cont-1-img-box {
                    width: $size-0;
                }
            }
            .cont-1-h3 {
                @extend %cont-1-h3-size;
                @extend %font-h3-def;
            }
        }
        }
    }
}
//Section-3
.sect-3 {
    @extend %sect-3-size;
    @extend %border-def;
    text-align: center;
    margin: $size-070 0 $size-040;
    background-color: $color-01;
    .sect-3-h1 {
        @extend %font-h1-def;
        padding-top: $size-030;
    }
    .xazi {
        margin: 25px auto;
        @extend %xazi;
    }
    .sect-3-cont {
        @include d-flex (flex,space-around,center);
        width: $size-80;

        margin: $size-040 auto;
        .cont-2-box {
            @extend %cont-2-box-size;
            @extend %border-def;
            margin: 0 $size-010;
            .cont-2-text {
                @extend %bg-def;
                @extend %cont-2-text-size;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                .cont-2-sale {
                    max-width: $size-0170;
                    width: $size-0;
                    height: $size-025;
                    border-bottom-right-radius: $size-050 $size-035;
                    background-color: $color-07;
                    @include d-flex (flex,space-around,center);
                    @include transition-hover (all,0.3s,linear,0.2s);
                    .cont-2-box-h2 {
                        @extend %font-h2-def;
                    }
                }
                .cont-2-img-box {
                    .cont-2-text-img {
                        width: $size-87;
                    }
                }
                .cont-2-p {
                    max-width: $size-0200;
                    @extend %font-p-def;
                }
                .cont-2-cost {
                    margin: $size-010;
                    .cont-2-h4 {
                        @extend %font-h3-def;
                    }
                }
            }
        }
    }
}
//Section-4
.sect-4 {
    height: $size-0270;
    margin: $size-035 0;
    background-color: $color-01;
    flex-direction: column;
    @include d-flex (flex,space-around,center);
    @extend %border-def;
    .sect-4-h1 {
        margin-top: $size-020;
        @extend %font-h1-def;
    }
    .xazi {
        @extend %xazi;
    }
    .sect-4-cont {
        max-width: $size-01060;
        width: $size-0;
        @include d-flex (flex,space-around,center);
        .sect-4-box {
            max-width: $size-0320;
            width: $size-0;
            @extend %bg-def;
            @include d-flex (flex,space-around,center);
            @extend %border-def;
            margin-left: $size-015;
            .sect-4-img {
                max-width: 150px;
                .sect-4-img-box {
                    width: $size-0;
                }
            }
            .sect-4-text {

                .sect-4-h3 {
                    margin: $size-010;
                    @extend %font-h3-def;
                }
                .sect-4-p {
                    margin: $size-010;
                    @extend %font-p-def;
                }
            }
        }
    }
}
//Section-Banner
.sect-baner {
    @extend %sect-baner-size;
    @include d-flex (flex,space-evenly,center);
    @extend %border-def;
    background-color: $color-02;
    margin: $size-020 0 $size-020;
    .sect-baner-text {
        @extend %sect-baner-text-size;
        @include d-flex (flex,space-around,baseline);
        flex-direction: column;
        .sect-baner-h1 {
            @extend %font-h1-baner;
        }
        .sect-baner-p {
            @extend %font-p-baner;
        }
        .sect-baner-shop {
            .sect-baner-h4 {
                @extend %font-p-baner;
            }
        }
    }
    .sect-baner-img {
        max-width: $size-0320;
        margin-bottom: $size-013;
        .sect-baner-img-box {
            width: $size-0;
        }
    }
}
//Futer
.foot-bg {
    background-color: $color-01;
    @include d-flex (flex,space-around,center);
    flex-direction: column;
    margin-top: 40px;
    @extend %border-def;
    .foot-cont {
        @extend %foot-cont-size;
        @include d-flex (flex,space-between,center);
        @extend %foot-cont-med;
        .foot-box {
            @extend %foot-box-size;
            @include d-flex (flex,space-evenly,center);
            flex-direction: column;
            text-align: center;
            .foot-h1 {
                @extend %font-h1-def;
            }
            .foot-p {
                @extend %foot-p-size;
                @extend %font-p-def;
            }
            .foot-ul {
                @extend %foot-ul-size;
                @include d-flex (flex,space-around,center);
                .foot-li {
                    .fa {
                        @extend %font-fa-def;
                    }
                }
            }
            .cont-p {
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                .li-box {
                    padding: $size-05 0;
                    .fa {
                        @extend %font-fa-def;
                    }
                    .contact {
                        @extend %font-bol-def;
                        @extend %hover-def;
                    }
                }
            }
        }
    }
    .xazi {
        @extend %xazi;
        @extend %xazi-med;
    }
    .foot-cont-2 {
        @extend %foot-cont-2-size;
        @include d-flex (flex,space-around,baseline);
        @extend %foot-cont-2-med;
        .foot-2-box {
            height: $size-0200;
            @include d-flex (flex,space-evenly,center);
            flex-direction: column;
            .foot-2-h1 {
                @extend %font-h1-def;
            }
            .foot-2-ul {
                height: $size-0130;
                @include d-flex (flex,space-around,center);
                flex-direction: column;
                .foot-2-li {
                    font-size: $size-015;
                    @extend %font-p-def;
                }
            }
        }
    }
    .avtori {
        @extend %avtori-size;
        padding-bottom: $size-020;
        @include d-flex (flex,space-between,center);
        @extend %avtori-med;
        .avtori-p {
            font-size: $size-010;
            @extend %font-p-def; 
        }
        .avtori-a {
            @extend %font-h2-def;
            @extend %avtori-a-med;
        }
    }
}




