//Body
.body-bg {
    @extend %bg-def;
}
//HEADER
.head-cont {
    background-color: $color-01;
    @extend %head-size;
    @extend %border-def;
    .nav-box {
        @extend %nav-box-size;
        @include d-flex (flex,space-between,center);
        @extend %nav-box-med;
        .nav-logo {
            @extend %nav-logo-size;
            @extend %border-def;
            @extend %hover-def;
            @extend %nav-logo-med;
            .img-100 {
                width: $size-0;
            }
        }
        .navi {
            @extend %navi-size;
            @include d-flex (flex,space-between,center);
            @extend %navi-med;
            @extend %nav-ul-open-med;
            @extend %open-soci-med;
            .nav-ul {
                @extend %nav-ul-size;
                @include d-flex (flex,space-between,center);
                @extend %nav-ul-med;
                .nav-li {
                    border-radius: $size-05;
                    @extend %hover-def;
                    @extend %nav-li-med;
                    .nav-a {
                        @extend %font-h1-def;
                        @extend %nav-a-med;
                    }
                }
            }
            .soc-ul {
                display: flex;
                @extend %soc-ul-size;
                @extend %soc-ul-med;
                .soc-li {
                    padding: $size-05 0;
                    .fa {
                        @extend %font-fa-def;
                    }
                    .soc-a {
                        @extend %font-bol-def;
                        @extend %hover-def;
                        @extend %soc-a-med;
                    }
                }
                .contact-ul {
                    padding: 0 $size-010;
                }
                .contact-box {
                    @include d-flex (flex,space-between,center);
                    flex-direction: column;
                }
            }
        }
        .burger-icon {
            display: none;
            @extend %burger-icon-med;
        }
    }
}
//Sections
.sect-1 {
    margin: $size-100 0 $size-025 0;
    @extend %sect-1-med;
    .slide-cont {
        margin: 0 $size-030;
    }
}
.sect-2 {
    @extend %sect-2-size;
    @include d-flex (flex,space-evenly,center);
    flex-direction: column;
    margin-top: $size-070;
    @extend %border-def;
    background-color: $color-01;
    .cont-1 {
        @extend %cont-1-size;
        @include d-flex (flex,space-around,center);
        .cont-1-box {
            @extend %cont-1-box-size;
            @extend %bg-def;
            @extend %border-def;
            @include d-flex (flex,flex-end,center);
            flex-direction: column;
            .cont-1-img {
                max-width: $size-0200;
                .cont-1-img-box {
                    width: $size-0;
                }
            }
            .cont-1-h3 {
                @extend %cont-1-h3-size;
                @extend %font-h3-def;
            }
        }
    }
}
.sect-3 {
    @extend %border-def;
    text-align: center;
    margin-top: $size-070;
    background-color: $color-01;
    .sect-3-h2 {
        @extend %font-h2-def;
    }
    .sect-3-slide {
        @include d-flex (flex,space-around,center);
        width: $size-80;
        margin: $size-040 auto;
        position: initial;
        .cont-2-box {
            @extend %cont-2-box-size;
            @extend %border-def;
            margin: 0 $size-010;
            .cont-2-text {
                @extend %cont-2-text-size;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                .cont-2-sale {
                    .cont-2-box-h2 {
                        @extend %font-h2-def;
                    }
                }
                .cont-2-img-box {
                    .cont-2-text-img {
                        width: $size-0;
                    }
                }
                .cont-2-p {
                    @extend %font-p-def;
                }
                .cont-2-cost {
                    .cont-2-h4 {
                        @extend %font-h3-def;
                    }
                }
            }
        }
    }
}
//Futer
.foot-bg {
    background-color: $color-01;
    @include d-flex (flex,space-around,center);
    flex-direction: column;
    margin-top: 40px;
    @extend %border-def;
    .foot-cont {
        @extend %foot-cont-size;
        @include d-flex (flex,space-between,center);
        @extend %foot-cont-med;
        .foot-box {
            @extend %foot-box-size;
            @include d-flex (flex,space-evenly,center);
            flex-direction: column;
            text-align: center;
            .foot-h2 {
                @extend %font-h2-def;
            }
            .foot-p {
                @extend %foot-p-size;
                @extend %font-p-def;
            }
            .foot-ul {
                @extend %foot-ul-size;
                @include d-flex (flex,space-around,center);
                .foot-li {
                    .fa {
                        @extend %font-fa-def;
                    }
                }
            }
            .cont-p {
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                .li-box {
                    padding: $size-05 0;
                    .fa {
                        @extend %font-fa-def;
                    }
                    .contact {
                        @extend %font-bol-def;
                        @extend %hover-def;
                    }
                }
            }
        }
    }
    .xazi {
        @extend %xazi;
        @extend %xazi-med;
    }
    .foot-cont-2 {
        @extend %foot-cont-2-size;
        @include d-flex (flex,space-around,baseline);
        @extend %foot-cont-2-med;
        .foot-2-box {
            height: $size-0200;
            @include d-flex (flex,space-evenly,center);
            flex-direction: column;
            .foot-2-h2 {
                @extend %font-h2-def;
            }
            .foot-2-ul {
                height: $size-0130;
                @include d-flex (flex,space-around,center);
                flex-direction: column;
                .foot-2-li {
                    font-size: $size-015;
                    @extend %font-p-def;
                }
            }
        }
    }
    .avtori {
        @extend %avtori-size;
        padding-bottom: $size-020;
        @include d-flex (flex,space-between,center);
        @extend %avtori-med;
        .avtori-p {
            font-size: $size-010;
            @extend %font-p-def; 
        }
        .avtori-a {
            @extend %font-h2-def;
            @extend %avtori-a-med;
        }
    }
}




