//Body
.body-bg {
    @extend %bg-def;
}
//HEADER
.head-cont {
    margin: $size-02 auto;
    background-color: $color-01;
    @extend %head-size;
    @extend %border-def;
    z-index: 1;
    .nav-box {
        padding: $size-010 0 $size-010;
        @extend %nav-box-size;
        @include d-flex (flex,space-between,center);
        @extend %nav-box-med;
        .nav-logo {
            @extend %nav-logo-size;
            @extend %border-def;
            @extend %hover-def;
            @extend %nav-logo-med;
            .img-100 {
                width: $size-0;
            }
        }
        .navi {
            @extend %navi-size;
            @include d-flex (flex,space-between,center);
            @extend %navi-med;
            @extend %nav-ul-open-med;
            @extend %open-soci-med;
            .nav-ul {
                @extend %nav-ul-size;
                @include d-flex (flex,space-between,center);
                @extend %nav-ul-med;
                .nav-li {
                    border-radius: $size-05;
                    @extend %nav-li-med;
                    @extend %hover-dop;
                    .nav-a {
                        @extend %font-h1-def;
                        @extend %nav-a-med;
                    }
                    .nav-drop-ul {
                        max-width: $size-0160;
                        width: $size-0;
                        height: $size-0270;
                        position: absolute;
                        top: $size-65;
                        left: $size-26;
                        display: none;
                        .nav-drop-li{
                            margin: $size-05 0;
                            padding: $size-05 0;
                            text-align: center;
                            @extend %border-def;
                            background-color: $color-01;
                            .nav-drop {
                                @extend %font-a-drop;
                            }
                        }
                    }
                }
            }
            .soc-ul {
                display: flex;
                @extend %soc-ul-size;
                @extend %soc-ul-med;
                .soc-li {
                    padding: $size-010 0;
                    @extend %soc-li-med;
                    .fa {
                        @extend %font-fa-def;
                        @extend %fa-med;
                    }
                    .soc-a {
                        @extend %font-bol-def;
                        @extend %hover-def;
                        @extend %soc-a-med;
                    }
                }
                .contact-ul {
                    @include d-flex (flex,space-between,end);
                    flex-direction: column;
                }
                .contact-box {
                    @include d-flex (flex,space-between,end);
                    flex-direction: column;
                }
            }
        }
        .burger-icon {
            display: none;
            @extend %burger-icon-med;
        }
    }
}
//Section-1
.sect-1 {
    margin: $size-0200 auto $size-025 auto;
    position: relative;
    @extend %sect-1-med;
    .sect-1-cont {
        margin: 0 370px;
        z-index: 2;
        @extend %sect-1-cont-med;
        .sect-1-box {
            max-width: $size-01820;
            border-radius: 5px;
            .slick-dots {
                bottom: 30px;
                li {
                    button {
                        &:before {
                            font-size: 15px;
                        }
                    }
                }
                .slick-active {
                    margin: 0 20px;
                    button {
                        &:before {
                            color: $color-02;
                        }
                    }
                }
            }
            .sect-1-img {
                margin: 2px;
                width: $size-0;
                height: $size-0535;
                @extend %border-def;
                box-shadow: 0 0 $size-01 $size-01 $color-03;
                border-radius: 5px;
                @extend %sect-1-img-med;
            }
        }
    }
    // .shadow {
    //     width: $size-0;
    //     height: 180px;
    //     position: absolute;
    //     top: 65%;
    //     z-index: -1;
    //     @extend %shad-def;
    // }
}
//Section-2
.sect-2 {
    @extend %sect-2-size;
    @include d-flex (flex,space-around,center);
    margin: $size-050 auto;
    @extend %border-def;
    background-color: $color-01;
    flex-direction: column;
    @extend %sect-2-med;
    .sect-2-big {
        @extend %sect-2-big-size;
        @include d-flex (flex,space-around,center);
        @extend %sect-2-big-med;
        .sect-2-flt {
            @extend %sect-2-flt-size;
            @include d-flex (flex,end,center);
            flex-direction: column;
            .flt-cont {
                @extend %flt-cont-size;
                @include d-flex (flex,space-between,center);
                @extend %flt-cont-med;
                .flt-icon {
                    max-width: $size-080;
                    @include d-flex (flex,space-between,center);
                    .flt-icon-box {
                       width: $size-0;
                    }
                }
                .flt-ico-nm {
                    @extend %flt-ico-nm-size;
                    text-align: end;
                    .ico-nm-h2 {
                        @extend %ico-nm-h2-font;
                    }
                    .xazi {
                        @extend %xazi;
                    }
                }
            }
            .s2-flt-ul {
                @extend %s2-flt-ul-size;
                @extend %s2-flt-ul-med;
                .s2-flt-li {
                    height: $size-090;
                    padding-right: 25px;
                    @extend %font-h3-flt;
                    @extend %border-def;
                    @include d-flex (flex,space-between,center);
                    .flt-li-box {
                        @extend %flt-li-box-size;
                        margin: 10px;
                        .flt-li-img {
                            width: $size-0;
                            height: $size-070;
                        }
                    }
                }
            }
        }
        .sect-2-box {
            @extend %sect-2-box-size;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %sect-2-box-med;
            .cont-1-list {
                @extend %cont-1-list-size;
                @include d-flex (flex,space-between,center);
                .cont-1-list-box {
                    background-color: $color-01;
                    @extend %cont-1-list-box-size;
                    @extend %border-def;
                    @include d-flex (flex,space-between,center);
                    flex-direction: column;
                    @extend %cont-1-list-box-med;
                    .cont-1-img {
                        @extend %cont-1-img-size;
                        @include d-flex (flex,center,center);
                        flex-direction: column;
                        @extend %cont-1-img-med;
                        .cont-1-img-hrf {
                            @extend %cont-1-img-hrf-size;
                            background-color: $color-010;
                            @include d-flex (flex,center,end);
                            .cont-1-img-box {
                                height: $size-0350;
                                width: $size-0;
                            }
                        }
                        .cont-1-img-text {
                            @extend %cont-1-img-text-size;
                            @include d-flex (flex,space-between,end);
                            padding: 10px 20px;
                            .flt-icon {
                                max-width: $size-070;
                                @include d-flex (flex,space-between,center);
                                .flt-icon-box {
                                    width: $size-0;
                                }
                            }
                            .flt-ico-nm {
                                @extend %flt-ico-nm-size;
                                text-align: end;
                                padding-top: $size-015;
                                .ico-nm-h2 {
                                    font-size: 25px;
                                    padding-right: $size-020
                                }
                                .xazi {
                                    @extend %xazi;    
                                }
                            }
                        }
                    }
                    .cont-1-fit {
                        @extend %cont-1-fit-size;
                        padding-left: $size-025;
                        .cont-1-fit-ul {
                            height: $size-0215;
                            @include d-flex (flex,space-around,end);
                            flex-direction: column;
                            @extend %cont-1-fit-ul-med;
                            .cont-1-fit-li {
                                max-width: $size-0535;
                                width: $size-0;
                                @include d-flex (flex,space-between,center);
                                .cont-1-fit-a {
                                    @extend %cont-1-fit-li-font;
                                    @extend %text-dec-def;
                                }
                            }
                        }
                    }
                }
            }
            .cont-1 {
                @extend %cont-1-size;
                @include d-flex (flex,space-between,center);
                .cont-1-box {
                    background-color: $color-010;
                    @extend %cont-1-box-size;
                    @extend %border-def;
                    @include d-flex (flex,flex-end,center);
                    flex-direction: column;
                    .cont-1-img {
                        max-width: $size-0200;
                        .cont-1-img-box {
                            width: $size-0;
                        }
                    }
                    .cont-1-h3 {
                        @extend %cont-1-h3-size;
                        @extend %font-h3-def;
                    }
                }
            }
        }
    }
    .sect-2-sm {
        @extend %sect-2-sm-size;
        @include d-flex (flex,space-between,center);
        .cont-1-sm-box {
            @extend %cont-1-sm-box-size;
            @include d-flex (flex,flex-end,center);
            background-color: $color-010;
            @extend %border-def;
            .cont-1-sm-img {
                margin-left: $size-050;
                max-width: $size-0320;
                .cont-1-sm-img-box {
                    width: $size-0;
                }
            }
            .cont-1-sm-h3 {
                @extend %cont-1-h3-size;
                @extend %font-h3-def;
            }
        }
    }
}
//Section-3
.sect-3 {
    @extend %sect-3-size;
    @extend %border-def;
    text-align: center;
    margin: $size-070 auto $size-040;
    background-color: $color-01;
    padding: $size-010;
    .sect-3-h1 {
        @extend %font-h1-def;
        margin-top: $size-030;
    }
    .xazi {
        @extend %xazi;
    }
    .sect-3-cont {
        @extend %sect-3-cont-size;
        @include d-flex (flex,space-around,center);
        margin: $size-010 auto;
        .cont-2-box {
            @extend %cont-2-box-size;
            @extend %border-def;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            margin: $size-010;
            .cont-2-text {
                background-color: $color-010;
                @extend %cont-2-text-size;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                @extend %border-def;
                .cont-2-img-box {
                    .cont-2-text-img {
                        width: $size-0;
                    }
                }
            }
            .cont-2-p-box {
                @extend %cont-2-p-box-size;
                @include d-flex (flex,space-between,flex-end);
                flex-direction: column;
                .cont-2-p {
                    margin-left: $size-010;
                    @extend %cont-2-p-font;
                    text-align: left;
                }
                .cont-2-cost {
                    margin: $size-025;
                    .cont-2-h4 {
                        @extend %cont-2-h4-fonts;
                    }
                }
            }
        }
    }
}
//Section-BanBox
.sect-banbox {
    @extend %sect-banbox-size;
    @include d-flex (flex,space-evenly,center);
    margin: $size-080 auto;
    @extend %border-def;
    background-color: $color-01;
    flex-direction: column;
    .banbox-cont {
        @extend %banbox-cont-size;
        @include d-flex (flex,space-around,center);
        .banbox-box {
            @extend %banbox-box-size;
            @extend %border-def;
            @include d-flex (flex,flex-end,flex-end);
            .consol {
                @extend %consol-size;
                .consol-ul {
                    height: $size-0160;
                    @include d-flex (flex,center,center);
                    flex-direction: column;
                    .consol-li {
                        padding-top: $size-010;
                        @extend %consol-li-font;
                        @extend %consol-li-dec;
                    }
                }
            }
            .box-box-ico {
                @extend %box-box-ico-size;
                @include d-flex (flex,flex-end,center);
                .box-img-ico {
                    height: $size-0200;
                    width: $size-0;
                }
            }
            .box-box {
                @extend %box-box-size;
                @include d-flex (flex,flex-end,center);
                .box-img {
                    height: $size-0270;
                    width: $size-0;
                }
            }
        }
    }
    .banbox-cont-2 {
        @extend %banbox-cont-2-size;
        @include d-flex (flex,space-between,center);
        .sect-ban-cont {
            @extend %sect-ban-cont-size;
            @extend %border-def;
            @include d-flex (flex,space-around,center);
            flex-direction: column;
            background-color: $color-010;
            .tv-box {
                @extend %tv-box-size;
                @include d-flex (flex,center,center);
                .tv {
                    height: $size-0550;
                    width: $size-0;
                }
            }
            .tv-text-cont {
                @extend %tv-text-cont-size;
                @include d-flex (flex,space-between,center);
                .tv-icon {
                    max-width: $size-100;
                    @include d-flex (flex,space-between,center);
                    .tv-icon-box {
                       width: $size-0;
                    }
                }
                .tv-ico-nm {
                    @extend %tv-ico-nm-size;
                    text-align: end;
                    .tv-ban-h1 {
                        @extend %tv-ban-h1-size;
                        padding: $size-030 $size-045;
                        @extend %sect-ban-h1-font;
                    }
                    .xazi {
                        @extend %xazi;
                    }
                }
            }
        }
        .sect-ban-cont-2 {
            @extend %sect-ban-cont-2-size;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            .sect-ban-box {
                @extend %sect-ban-box-size;
                @extend %border-def;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                .ban-box-img {
                    @extend %ban-box-img-size;
                    background-color: $color-010;
                    .cinema {
                        height: $size-0375;
                        width: $size-0;
                    }
                }
                .tvh-text-cont {
                    @extend %tvh-text-cont-size;
                    @include d-flex (flex,space-between,center);
                    .tvh-icon {
                        max-width: $size-070;
                        @include d-flex (flex,space-between,center);
                        .tvh-icon-box {
                           width: $size-0;
                        }
                    }
                    .tvh-ico-nm {
                        @extend %tvh-ico-nm-size;
                        text-align: end;
                        .tvh-ban-h1 {
                            @extend %tvh-ban-h1-size;
                            padding: $size-040 $size-025;
                            @extend %tvh-ban-h1-font;
                        }
                        .xazi {
                            @extend %xazi;
                        }
                    }
                }
            }
        }
    }
}
//Section-4
.sect-4 {
    @extend %sect-4-size;
    margin: $size-035 auto;
    background-color: $color-01;
    flex-direction: column;
    @include d-flex (flex,space-around,center);
    @extend %border-def;
    .sect-4-h1 {
        margin-top: $size-020;
        @extend %font-h1-def;
    }
    .xazi {
        @extend %xazi;
    }
    .sect-4-cont {
        @extend %sect-4-cont-size;
        @include d-flex (flex,space-between,center);
        .sect-4-box {
            @extend %sect-4-box-size;
            @include d-flex (flex,space-around,center);
            @extend %border-def;
            background-color: $color-01;
            margin: $size-015;
            .sect-4-img {
                @extend %sect-4-img-size;
                background-color: $color-010;
                @include d-flex (flex,space-around,center);
                .sect-4-img-box {
                    width: $size-0;
                }
            }
            .sect-4-text {
                @extend %sect-4-text-size;
                .sect-4-h3 {
                    margin: $size-010;
                    @extend %font-h3-def;
                }
                .sect-4-p {
                    height: $size-0320;
                    margin: $size-010;
                    @extend %font-p-def;
                }
            }
        }
    }
}
//Section-Banner
.sect-baner {
    @extend %sect-baner-size;
    @include d-flex (flex,space-evenly,center);
    @extend %border-def;
    @extend %bg-banner;
    margin: $size-020 auto;
    .sect-baner-text {
        @extend %sect-baner-text-size;
        @include d-flex (flex,space-around,baseline);
        flex-direction: column;
        .sect-baner-h1 {
            @extend %font-h1-baner;
        }
        .sect-baner-p {
            @extend %font-p-baner;
        }
        .sect-baner-shop {
            .sect-baner-h4 {
                @extend %font-p-baner;
            }
        }
    }
    .sect-baner-img {
        max-width: $size-0450;
        margin-bottom: $size-019;
        .sect-baner-img-box {
            width: $size-0;
        }
    }
}
//Futer
.foot-bg {
    background-color: $color-01;
    @include d-flex (flex,space-around,center);
    flex-direction: column;
    margin-top: 40px;
    @extend %border-def;
    .foot-lok {
        @extend %foot-lok-size;
        @include d-flex (flex,space-around,center);
        flex-direction: row-reverse;
        .foot-cont {
            @extend %foot-cont-size;
            @include d-flex (flex,space-between,center);
            flex-direction: column-reverse;
            @extend %foot-cont-med;
            .foot-box {
                @extend %foot-box-size;
                @include d-flex (flex,space-evenly,center);
                flex-direction: column;
                text-align: center;
                .foot-h1 {
                    @extend %font-h1-def;
                }
                .foot-p {
                    @extend %foot-p-size;
                    @extend %foot-p-font;
                }
                .foot-ul {
                    @extend %foot-ul-size;
                    @include d-flex (flex,space-around,center);
                    .foot-li {
                        .fa {
                            @extend %font-fa-def;
                        }
                    }
                }
                .cont-p {
                    @include d-flex (flex,space-between,center);
                    flex-direction: column;
                    .li-box {
                        padding: $size-05 0;
                        .fa {
                            @extend %font-fa-def;
                        }
                        .contact {
                            @extend %font-bol-def;
                            @extend %hover-def;
                        }
                    }
                }
            }
            .xazi {
                @extend %xazi;
                @extend %xazi-med;
            }
        }
        .foot-cont-2 {
            @extend %foot-cont-2-size;
            @include d-flex (flex,space-around,baseline);
            @extend %foot-cont-2-med;
            .foot-2-box {
                height: $size-0400;
                @include d-flex (flex,space-around,center);
                flex-direction: column;
                .foot-2-h1 {
                    @extend %font-h1-def;
                }
                .foot-2-ul {
                    height: $size-0250;
                    @include d-flex (flex,space-around,center);
                    flex-direction: column;
                    .foot-2-li {
                    
                        @extend %foot-2-li-font;
                    }
                }
            }
        }
    }
    .xazi {
        @extend %xazi;
        @extend %xazi-med;
    }
    .avtori {
        @extend %avtori-size;
        padding-bottom: $size-020;
        @include d-flex (flex,space-between,center);
        @extend %avtori-med;
        .avtori-p {
            @extend %avtori-p-font;
            @extend %font-p-def; 
        }
        .avtori-a {
            @extend %avtori-a-font;
            @extend %avtori-a-med;
        }
    }
}




