
//HEADER
%nav-box-med {
    @media (max-width: 1600px) {
        width: 85%;
    }
    @media (max-width: $size-0600) {
        flex-direction: column;
    }
}
%nav-logo-med {
    @media (max-width: 1600px) {
        max-width: 53px;
        height: 60px;
    }
    @media (max-width: 1366px) {
        max-width: 45px;
        height: 51px;
    }
    @media (max-width: 962px) {
        max-width: 40px;
        height: 45px;
    }
    @media (max-width: 768px) {
        max-width: 40px;
        height: 45px;
    }
    @media (max-width: $size-0600) {
        margin: 0 auto;
    }
}
%navi-med {
    @media (max-width: 1600px) {
        width: 83%;
    }
    @media (max-width: 1366px) {
        width: 80%;
    }
    @media (max-width: $size-01024) {
        width: $size-87;
    }
    // @media (max-width: $size-0670) {
    //     width: $size-90;
    //     align-items: flex-end;
    //     flex-direction: column-reverse;
    // }
    @media (max-width: $size-0600) {
        flex-direction: column;
    }
}
%nav-ul-open-med {
    @media (max-width: $size-0600) {
        .open-menu {
            display: block;
            text-align: center;
            padding: $size-020 0;
        }
    }
}
%nav-ul-med {
    @media (max-width: 1600px) {
        width: 60%;
    }
    @media (max-width: 1366px) {
        width: 58%;
    }
    @media (max-width: $size-0800) {
        max-width: $size-0375;
    }
    // @media (max-width: $size-0670) {
    //     padding: $size-010 0;
    //     max-width: $size-0500;
    // }
    @media (max-width: $size-0600) {
        display: none;
    }
}
%nav-li-med {
    @media (max-width: $size-0600) {
        max-width: $size-0110;
        margin: 0 auto;
        padding: $size-05 0;
    }
}
%nav-a-med {
    @media (max-width: 1600px) {
        font-size: 22px;
    }
    @media (max-width: 1366px) {
        font-size: 18px;
    }
    @media (max-width: 962px) {
        font-size: 15px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
    }
    @media (max-width: 768px) {
        letter-spacing: 1px;
    }
    @media (max-width: 800px) {
        font-size: 13px;
    }
    // @media (max-width: $size-0670) {
    //     font-size: $size-015;
    // }
}
%soc-ul-med {
    @media (max-width: 1366px) {
        width: 35%;
    }
    @media (max-width: 600px) {
        justify-content: flex-end;
        padding-right: $size-030;
        display: none;
    }
    // @media (max-width: $size-0670) {
    //     padding-right: $size-030;
    //     justify-content: flex-end;
    //     max-width: $size-0360;
    // }
}
%open-soci-med {
    @media (max-width: 600px) {
        .open-socicon {
            display: flex;
        }
    }
}
%soc-li-med {
    @media (max-width: 1600px) {
        padding: 5px 0;
    }
    @media (max-width: 962px) {
        padding: 3px 0;
    }
    @media (max-width: 768px) {
        padding: 2px 0;
    }
}
%fa-med {
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 768px) {
        letter-spacing: 10px;
    }
}
%soc-a-med {
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1366px) {
        font-size: 16px;
    }
    @media (max-width: 962px) {
        font-size: 14px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}
%burger-icon-med {
    @media (max-width: 600px) {
        display: block;
        color: $color-02;
        font-size: $size-030;
        position: absolute;
        top: $size-013;
        right: $size-050;
        cursor:pointer;
    }
}
//Section-1
%sect-1-med {
    @media (max-width: 1600px) {
        margin: 100px 0 5px;
    }
    @media (max-width: 1366px) {
        margin: 90px 0 5px;
    }
    @media (max-width: 810px) {
        margin: 75px 0 5px;
    }
}
%sect-1-cont-med {
    @media (max-width: 1600px) {
        margin: 0 60px;
    }
    @media (max-width: 834px) {
        margin: 0 20px;
    }
    @media (max-width: 768px) {
        margin: 0 15px;
    }
}
%sect-1-box-med {
    @media (max-width: 1366px) {
        margin-bottom: 15px;
    }
    @media (max-width: 810px) {
        margin-bottom: 10px;
    }
}
%sect-1-img-med {
    @media (max-width: 1600px) {
        height: 400px;
        margin: 5px 0;
    }
    @media (max-width: 1366px) {
        height: 330px;
    }
    @media (max-width: 1024px) {
        height: 260px;
    }
    @media (max-width: 834px) {
        height: 210px;
    }
    @media (max-width: 768px) {
        height: 190px;
    }
}
//Section-2
%sect-2-med {
    @media (max-width: 1600px) {
        margin: 5px auto;
        width: 99%;
        height: 1415px;
    }
    @media (max-width: 1366px) {
        height: 1145px;
    }
    @media (max-width: 1024px) {
        height: 1020px;
    }
    @media (max-width: 834px) {
        height: 930px;
    }
    @media (max-width: 768px) {
        height: 740px;
    }
}
%sect-2-big-med {
    @media (max-width: 1600px) {
        width: 98%;
        height: 1355px;
    }
    @media (max-width: 1366px) {
        height: 970px;
    }
    @media (max-width: 834px) {
        margin: 15px 0;
    }
    @media (max-width: 768px) {
        height: 580px;
    }
}
%sect-2-flt-med {
    @media (max-width: 1600px) {
        width: 40%;
        height: 1175px;
        padding-top: 30px;
    }
    @media (max-width: 1366px) {
        height: 955px;
    }
    @media (max-width: 1024px) {
        height: 850px;
    }
    @media (max-width: 962px) {
        padding-top: 5px;
    }
    @media (max-width: 834px) {
        height: 770px;
    }
    @media (max-width: 768px) {
        height: 568px;
        padding-top: 2px;
    }
}
%flt-cont-med {
    @media (max-width: 1600px) {
        width: 95%;
    }
    @media (max-width: 768px) {
        width: 96%;
    }
}
%flt-icon-1-med {
    @media (max-width: 1600px) {
        max-width: 55px;
    }
    @media (max-width: 1366px) {
        max-width: 44px;
    }
    @media (max-width: 834px) {
        max-width: 35px;
    }
    @media (max-width: 768px) {
        max-width: 30px;
    }
}
%flt-icon-med {
    @media (max-width: 1600px) {
        max-width: 55px;
    }
    @media (max-width: 1366px) {
        max-width: 44px;
    }
    @media (max-width: 834px) {
        max-width: 30px;
    }
    @media (max-width: 768px) {
        max-width: 30px;
    }
}
%flt-ico-nm-med {
    @media (max-width: 1600px) {
        width: 83%;
    }
    @media (max-width: 962px) {
        width: 80%;
        height: 30px;
    }
    @media (max-width: 768px) {
        width: 80%;
        height: 30px;
        padding-top: 1px;
    }
}
%ico-nm-h2-med {
    @media (max-width: 1600px) {
        letter-spacing: 3px;
        font-size: 28px;
        margin: 0 15px 17px 0;
    }
    @media (max-width: 1366px) {
        font-size: 22px;
    }
    @media (max-width: 962px) {
        margin: 0 5px 10px 0;
    }
    @media (max-width: 834px) {
        font-size: 19px;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        letter-spacing: 2px;
        margin: 0 5px 10px 0;
    }
}
%ico-nm-h2-med-2 {
    @media (max-width: 1600px) {
        letter-spacing: 1px;
        font-size: 18px;
        margin: 0 15px 22px 0;
    }
    @media (max-width: 962px) {
        margin: 0 10px 10px 0;
    }
    @media (max-width: 834px) {
        font-size: 16px;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        letter-spacing: 1px;
        margin: 0 5px 1px 0;
        padding-top: 3px;
    }
}
%s2-flt-ul-med {
    @media (max-width: 1600px) {
        width: 98%;
    }
    @media (max-width: 1280px) {
        width: 99%;
    }
    @media (max-width: 834px) {
        padding: 7px 0 0 0;
    }
    @media (max-width: 768px) {
        width: 100%;
        padding: 5px 0 0 0;
    }
}
%s2-flt-li-med {
    @media (max-width: 1600px) {
        height: 50px;
        padding-right: 10px;
        font-size: 18px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
        height: 35px;
    }
    @media (max-width: 1024px) {
        font-size: 13px;
    }
    @media (max-width: 834px) {
        font-size: 10px;
    }
    @media (max-width: 810px) {
        font-size: 9px;
    }
    @media (max-width: 768px) {
        font-size: 11px;
        text-align: end;
        height: 31px;
        padding-right: 5px;
    }
}
%flt-li-box-med {
    @media (max-width: 1600px) {
        margin: 15px;
        max-width: 55px;
        height: 40px;
    }
    @media (max-width: 1024px) {
        max-width: 50px;
        height: 30px;
        margin: 10px;
    }
    @media (max-width: 768px) {
        max-width: 35px;
        height: 25px;
        margin: 5px;
    }
}
%flt-li-img-med {
    @media (max-width: 1600px) {
        height: 40px;
    }
    @media (max-width: 1024px) {
        width: 90%;
        height: 30px;
    }
    @media (max-width: 768px) {
        height: 26px;
    }
}
%s2-flt-cont-2-med {
    @media (max-width: 1600px) {
        width: 98%;
        height: 600px;
    }
    @media (max-width: 1366px) {
        height: 780px;
    }
    @media (max-width: 1024px) {
        height: 630px;
    }
    @media (max-width: 834px) {
        height: 545px;
    }
    @media (max-width: 768px) {
        width: 100%;
        height: 240px;
    }
}
%sect-2-box-med {
    @media (max-width: 1600px) {
        height: 1175px;
    }
    @media (max-width: 1366px) {
        height: 955px;
    }
    @media (max-width: 1024px) {
        height: 850px;
    }
    @media (max-width: 834px) {
        height: 770px;
    }
    @media (max-width: 768px) {
        height: 567px;
    }
}
%cont-1-list-box-med {
    @media (max-width: 1600px) {
        width: 48%;
        height: 580px;
    }
    @media (max-width: 1536px) {
        height: 580px;
    }
    @media (max-width: 1366px) {
        height: 470px;
    }
    @media (max-width: 1024px) {
        height: 420px;
    }
    @media (max-width: 834px) {
        height: 380px;
    }
    @media (max-width: 768px) {
        height: 280px;
    }
}
%cont-1-img-med {
    @media (max-width: 1600px) {
        width: $size-0-def;
        height: 450px;
    }
    @media (max-width: 1366px) {
        width: $size-0-def;
        height: 320px;
    }
    @media (max-width: 1024px) {
        height: 275px;
    }
    @media (max-width: 834px) {
        height: 235px;
    }
    @media (max-width: 768px) {
        height: 210px;
    }
}
%cont-1-img-hrf-med {
    @media (max-width: 1600px) {
        height: 365px;
    }
    @media (max-width: 768px) {
        height: 145px;
    }
}
%cont-1-img-box-med {
    @media (max-width: 1366px) {
        height: 250px;
    }
    @media (max-width: 1024px) {
        height: 210px;
    }
    @media (max-width: 834px) {
        height: 170px;
    }
    @media (max-width: 768px) {
        height: 145px;
    }
}
%cont-1-img-text-med {
    @media (max-width: 1600px) {
        height: 65px;
        padding: 5px 20px;
    }
    @media (max-width: 768px) {
        height: 40px;
        padding: 2px 10px;
    }
}
%flt-ico-nm-2-med {
    @media (max-width: 1600px) {
        width: 83%;
        height: 35px;
        padding-top: 7px;
    }
    @media (max-width: 962px) {
        padding-top: 15px;
    }
    @media (max-width: 834px) {
        padding-top: 4px;
    }
    @media (max-width: 768px) {
        padding-top: 1px;
    }
}
%cont-1-fit-med {
    @media (max-width: 1600px) {
        width: 90%;
        height: 220px;
    }
}
%cont-1-fit-ul-med {
    @media (max-width: 1600px) {
        width: 90%;
        height: 130px;
    }
    @media (max-width: 768px) {
        height: 90px;
    }
}
%cont-1-fit-a-med {
    @media (max-width: 1600px) {
        font-size: 15px;
    }
    @media (max-width: 1366px) {
        font-size: 13px;
    }
    @media (max-width: 834px) {
        font-size: 11px;
    }
    @media (max-width: 768px) {
        font-size: 10px;
    }
}
%sect-2-sm-med {
    @media (max-width: 1600px) {
        width: 98%;
        height: 190px;
    }
    @media (max-width: 1024px) {
        height: 120px;
    }
    @media (max-width: 834px) {
        height: 130px;
    }
}
%cont-1-sm-box-med {
    @media (max-width: 1600px) {
        width: 49%;
        height: 115px;
    }
    @media (max-width: 1366px) {
        height: 75px;
    }
}
%cont-1-sm-img-med {
    @media (max-width: 1366px) {
        max-width: 140px;
    }
    @media (max-width: 768px) {
        margin-left: 20px;
    }
}
%cont-1-sm-h3-med {
    @media (max-width: 1366px) {
        font-size: 15px;
    }
}
//Section-3
%sect-3-med {
    @media (max-width: 1600px) {
        width: 99%;
    }
    @media (max-width: 1366px) {
        margin: 20px auto 10px;
        padding: 2px 0 30px 0;
    }
}
%sect-3-h1-med {
    @media (max-width: 1600px) {
        font-size: $sect-h1-size;
        letter-spacing: 3px;
    }
    @media (max-width: 1366px) {
        margin: 10px 0;
    }
    @media (max-width: 1024px) {
        font-size: 25px;
    }
    @media (max-width: 962px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-size: 20px;
    }
}
%sect-3-cont-med {
    @media (max-width: 1600px) {
        width: 98%;
        height: 350px;
    }
    @media (max-width: 1366px) {
        height: 270px;
    }
    @media (max-width: 962px) {
        height: 240px;
    }
    @media (max-width: 768px) {
        height: 190px;
    }
}
%cont-2-box-med {
    @media (max-width: 1600px) {
        height: 340px;
    }
    @media (max-width: 1366px) {
        height: 240px;
        margin: 1px 5px;
    }
    @media (max-width: 768px) {
        height: 180px;
    }
}
%cont-2-text-med {
    @media (max-width: 1600px) {
        height: 240px;
    }
    @media (max-width: 1366px) {
        max-width: 280px;
        height: 170px;
    }
    @media (max-width: 768px) {
        height: 130px;
    }
}
%cont-2-text-img-med {
    @media (max-width: 1600px) {
        height: 270px;
    }
    @media (max-width: 1366px) {
        height: 190px;
    }
    @media (max-width: 768px) {
        height: 140px;
    }
}
%cont-2-p-box-med {
    @media (max-width: 1366px) {
        height: 65px;
    }
    @media (max-width: 768px) {
        height: 46px;
    }
}
%cont-2-p-med {
    @media (max-width: 1600px) {
        font-size: 17px;
        margin: 5px 0 0 10px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}
%cont-2-cost-med {
    @media (max-width: 1366px) {
        margin: 5px;
    }
}
%cont-2-h4-med {
    @media (max-width: 1600px) {
        font-size: 30px;
    }
    @media (max-width: 1366px) {
        font-size: 25px;
    }
    @media (max-width: 768px) {
        font-size: 20px;
    }
}
//Section-BanBox
%sect-banbox-med {
    @media (max-width: 1600px) {
        width: 99%;
        padding: 10px 0;
    }
    @media (max-width: 1366px) {
        margin: 20px auto;
    }
}
%banbox-cont-med {
    @media (max-width: 1600px) {
        width: 98%;
    }
    @media (max-width: 1366px) {
        height: 160px;
    }
    @media (max-width: 768px) {
        height: 110px;
    }
}
%banbox-box-med {
    @media (max-width: 1600px) {
        width: 48%;
        height: 120px;
    }
    @media (max-width: 1366px) {
        height: 90px;
    }
    @media (max-width: 834px) {
        height: 75px;
    }
    @media (max-width: 768px) {
        height: 65px;
    }
}
%consol-med {
    @media (max-width: 1600px) {
        width: 60%;
        height: 120px;
    }
    @media (max-width: 1366px) {
        height: 85px;
    }
    @media (max-width: 834px) {
        height: 67px;
    }
    @media (max-width: 768px) {
        height: 67px;
    }
}
%consol-li-med {
    @media (max-width: 1600px) {
        font-size: 20px;
        padding-top: 5px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
        padding-top: 1px;
    }
    @media (max-width: 834px) {
        font-size: 11px;
        padding-top: 0;
    }
    @media (max-width: 768px) {
        font-size: 13px;
        letter-spacing: 3px;
        padding: 2px 0;
    }
}
%box-box-ico-med {
    @media (max-width: 1600px) {
        width: 50%;
        height: 120px;
    }
    @media (max-width: 834px) {
        height: 78px;
    }
    @media (max-width: 768px) {
        height: 70px;
    }
}
%box-img-ico-med {
    @media (max-width: 1600px) {
        width: 90%;
        height: 120px;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 130px;
    }
    @media (max-width: 834px) {
        height: 100px;
    }
    @media (max-width: 768px) {
        height: 85px;
    }
}
%box-box-med {
    @media (max-width: 1600px) {
        height: 175px;
    }
    @media (max-width: 1366px) {
        width: 90%;
        height: 130px;
    }
    @media (max-width: 834px) {
        height: 109px;
    }
    @media (max-width: 768px) {
        height: 93px;
    }
}
%box-img-med {
    @media (max-width: 1600px) {
        height: 190px;
    }
    @media (max-width: 1366px) {
        height: 140px;
    }
    @media (max-width: 834px) {
        height: 120px;
    }
    @media (max-width: 768px) {
        height: 100px;
    }
}
%banbox-cont-2-med {
    @media (max-width: 1600px) {
        width: 98%;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 630px;
    }
    @media (max-width: 1024px) {
        height: 525px;
    }
    @media (max-width: 834px) {
        height: 450px;
    }
    @media (max-width: 768px) {
        height: 380px;
    }
}
%sect-ban-cont-med {
    @media (max-width: 1600px) {
        width: 54%;
        height: 810px;
    }
    @media (max-width: 1366px) {
        width: 60%;
        height: 615px;
    }
    @media (max-width: 1024px) {
        height: 520px;
    }
    @media (max-width: 834px) {
        height: 430px;
    }
    @media (max-width: 768px) {
        height: 380px;
    }
}
%tv-box-med {
    @media (max-width: 1366px) {
        margin: 20px auto;
    }
}
%tv-med {
    @media (max-width: 1600px) {
        height: 410px;
    }
    @media (max-width: 1366px) {
        height: 320px;
    }
    @media (max-width: 1024px) {
        height: 260px;
    }
    @media (max-width: 834px) {
        height: 230px;
    }
    @media (max-width: 768px) {
        height: 240px;
    }
}
%tv-text-cont-med {
    @media (max-width: 1600px) {
        width: 95%;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 65px;
    }
}
%tv-icon-box-med {
    @media (max-width: 1366px) {
        width: 70%;
    }
    @media (max-width: 768px) {
        width: 60%;
    }
}
%tv-ico-nm-med {
    @media (max-width: 1600px) {
        width: 85%;
    }
    @media (max-width: 1366px) {
        height: 135px;
    }
    @media (max-width: 768px) {
        height: 143px;
    }
}
%tv-ban-h1-med {
    @media (max-width: 1366px) {
        font-size: 40px;
        padding: 35px 45px 0 0;
    }
    @media (max-width: 834px) {
        font-size: 35px;
        padding: 35px 25px 0 0;
    }
    @media (max-width: 768px) {
        font-size: 30px;
        padding: 45px 15px 0 0;
    }
}
%sect-ban-cont-2-med {
    @media (max-width: 1600px) {
        width: 44%;
        height: 810px;
    }
    @media (max-width: 1366px) {
        width: 38%;
        height: 615px;
    }
    @media (max-width: 1024px) {
        height: 520px;
    }
    @media (max-width: 834px) {
        height: 430px;
    }
    @media (max-width: 768px) {
        height: 380px;
    }
}
%sect-ban-box-med {
    @media (max-width: 1600px) {
        height: 396px;
    }
    @media (max-width: 1366px) {
        width: 100%;
        height: 300px;
    }
    @media (max-width: 1024px) {
        height: 255px;
    }
    @media (max-width: 834px) {
        height: 210px;
    }
    @media (max-width: 768px) {
        height: 186px;
    }
}
%ban-box-img-med {
    @media (max-width: 1366px) {
        width: 90%;
    }
}
%cinema-med {
    @media (max-width: 1600px) {
        height: 300px;
    }
    @media (max-width: 1366px) {
        height: 240px;
    }
    @media (max-width: 1024px) {
        height: 180px;
    }
    @media (max-width: 834px) {
        height: 155px;
    }
    @media (max-width: 768px) {
        height: 140px;
    }
}
%tvh-text-cont-med {
    @media (max-width: 1600px) {
        width: 97%;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 40px;
        margin: 0 0 10px;
    }
    @media (max-width: 834px) {
        margin: 0 0 5px;
    }
}
%tvh-icon-box-med {
    @media (max-width: 1366px) {
        width: 70%;
    }
    @media (max-width: 834px) {
        width: 55%;
    }
    @media (max-width: 768px) {
        width: 60%;
    }
}
%tvh-ico-nm-med {
    @media (max-width: 1600px) {
        width: 87%;
    }
    @media (max-width: 1366px) {
        height: 75px;
    }
    @media (max-width: 834px) {
        height: 83px;
    }
}
%tvh-ban-h1-med {
    @media (max-width: 1366px) {
        font-size: 22px;
        padding: 20px 25px 0 0;
    }
    @media (max-width: 834px) {
        font-size: 14px;
        padding: 30px 10px 0 0;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        letter-spacing: 1px;
        height: 39px;
        padding: 25px 10px 0 0;
    }
}
//Section-4
%sect-4-med {
    @media (max-width: 1600px) {
        width: 99%;
        padding: 5px 0 30px 0;
    }
}
%sect-4-h1-med {
    @media (max-width: 1600px) {
        font-size: $sect-h1-size;
    }
    @media (max-width: 1366px) {
        font-size: 25px;
    }
    @media (max-width: 962px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-size: 18px;
    } 
}
%sect-4-cont-med {
    @media (max-width: 1366px) {
        height: 240px;
    }
    @media (max-width: 962px) {
        height: 220px;
    }
    @media (max-width: 768px) {
        height: 180px;
    }
}
%sect-4-box-med {
    @media (max-width: 1600px) {
        width: 98%;
    }
    @media (max-width: 1366px) {
        height: 235px;
    }
    @media (max-width: 1024px) {
        width: 96%;
    }
    @media (max-width: 834px) {
        height: 210px;
    }
    @media (max-width: 768px) {
        width: 95%;
        height: 200px;
    }
}
%sect-4-img-med {
    @media (max-width: 1366px) {
        max-width: 235px;
        height: 233px;
    }
    @media (max-width: 834px) {
        height: 208px;
    }
    @media (max-width: 768px) {
        height: 196px;
    }
}
%sect-4-text-med {
    @media (max-width: 1366px) {
        height: 215px;
    }
}
%sect-4-h3-med {
    @media (max-width: 768px) {
        font-size: 15px;
    }
}
%sect-4-p-med {
    @media (max-width: 768px) {
        font-size: 11px;
    }
}
//Section-Banner
%sect-baner-med {
    @media (max-width: 1600px) {
        width: 99%;
    }
    @media (max-width: 1366px) {
        height: 290px;
    }
    @media (max-width: 768px) {
        height: 270px;
    }
}
%sect-baner-text-med {
    @media (max-width: 768px) {
        margin: 0 0 0 20px;
    }
}
%sect-baner-img-box-med {
    @media (max-width: 1366px) {
        width: 66%;
    }
}
//FOOTER
%xazi-med {
    @media (max-width: 1600px) {
        width: 95%;
    }
}
%foot-cont-2-med {
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}
%foot-h1-med {
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}
%foot-p-med {
    @media (max-width: 1600px) {
        font-size: 13px;
    }
    @media (max-width: 1366px) {
        font-size: 11px;
    }
    @media (max-width: 768px) {
        font-size: 8px;
    }
}
%fa-med {
    @media (max-width: 1366px) {
        font-size: 18px;
    }
    @media (max-width: 962px) {
        font-size: 15px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
    }
    @media (max-width: 768px) {
        font-size: 11px;
    }
}
%foot-li-med {
    @media (max-width: 1600px) {
        font-size: 13px;
    }
    @media (max-width: 1366px) {
        font-size: 11px;
    }
    @media (max-width: 768px) {
        font-size: 8px;
    }
}
%contact-med {
    @media (max-width: 1600px) {
        font-size: 19px;
    }
    @media (max-width: 1366px) {
        font-size: 13px;
    }
    @media (max-width: 834px) {
        font-size: 10px;
    }
    @media (max-width: 768px) {
        font-size: 10px;
    }
}
%avtori-med {
    @media (max-width: 1600px) {
        width: 90%;
    }
    @media (max-width: 962px) {
        margin: 1px 0 10px 0;
    }
}
%foot-cont-med {
    @media (max-width: 1600px) {
        width: 80%;
    }
    @media (max-width: 1366px) {
        width: 80%;
    }
    @media (max-width: 1024px) {
        width: 80%;
    }
    @media (max-width: 414px) {
        flex-direction: column-reverse;
    }
}
%foot-box-med {
    @media (max-width: 1366px) {
        width: 20%;
    }
    @media (max-width: 1024px) {
        width: 29%;
    }
    @media (max-width: 768px) {
        width: 23%;
    }
}
%avtori-p-med {
    @media (max-width: 1366px) {
        font-size: 10px;
    }
}
%avtori-a-med {
    @media (max-width: 1366px) {
        font-size: 11px;
    }
    @media (max-width: 1024px) {
        font-size: 12px;
    }
}
//BURGER
%open-soci-med {
    @media (max-width: 600px) {
        .open-socicon {
            display: flex;
        }
    }
}
%nav-ul-open-med {
    @media (max-width: 600px) {
        .open-menu {
            display: block;
            flex-direction: column;
            padding: 15px 0;
        }
    }
}
//Default-media
%xazi-med {
    @media (max-width: 1600px) {
        width: 90%;
    }
}
%slick-dots-med {
    @media (max-width: 768px) {
        li {
            margin: 0 2px;
            button {
                &:before {
                    font-size: 12px;
                }
            }
        }
        .slick-active {
            margin: 1px 10px;
            button {
                &:before {
                    font-size: 18px;
                }
            }
        }
    }
}

//Desktop
%desk-med {
    @media (max-width: $size-01750) {
        max-width: $size-95;
    }
    @media (max-width: $size-01536) {
        max-width: $size-90;
    }
    @media (max-width: $size-01440) {
        max-width: $size-90;
    }
    @media (max-width: $size-01366) {
        max-width: $size-90;
    }
    @media (max-width: $size-01024) {
        max-width: $size-90;
    }
}

//Tablet
%tab-med {
    @media (max-width: $size-01280) {
        max-width: $size-95;
    }
    @media (max-width: $size-0962) {
        max-width: $size-90;
    }
    @media (max-width: $size-0800) {
        font-size: $size-015;
    }
    // @media (max-width: $size-0768) {
    //     max-width: $size-90;
    // }
    @media (max-width: $size-0600) {
        max-width: $size-90;
    }
}
//Mobile
%mob-med {
    @media (max-width: $size-0414) {
        max-width: $size-95;
    }
    @media (max-width: $size-0375) {
        max-width: $size-90;
    }
    @media (max-width: $size-0360) {
        max-width: $size-90;
    }
}