//HEADER
%tab-nav-logo {
    @media (max-width: $size-0600) {
        margin: 0 auto;
    }
}
%desk-navi {
    @media (max-width: $size-01680) {
        width: $size-75;
    }
    @media (max-width: $size-01366) {
        width: $size-80;
    }
    @media (max-width: $size-01024) {
        width: $size-87;
    }
    @media (max-width: $size-0600) {
        flex-direction: column;
    }
}
%desk-nav-box {
    @media (max-width: $size-01680) {
        width: $size-90;
    }
    @media (max-width: $size-0600) {
        flex-direction: column;
    }
}
%desk-nav-ul {
    @media (max-width: $size-01024) {
        max-width: $size-0450;
    }
    @media (max-width: $size-0800) {
        max-width: $size-0375;
    }
    @media (max-width: $size-0600) {
        flex-direction: column;
        padding: $size-015;
    }
}
%desk-nav-li {
    @media (max-width: $size-0600) {
        padding: $size-05 0;
    }
}
%tab-nav-a {
    @media (max-width: $size-01024) {
        font-size: $size-015;
    }
    @media (max-width: $size-0800) {
        font-size: $size-013;
    }
}
%tab-soc-ul {
    @media (max-width: $size-0800) {
        max-width: $size-0200;
    }
    @media (max-width: $size-0600) {
        display: none;
    }
}
%tab-soc-a {
    @media (max-width: $size-0800) {
        font-size: $size-013;
    }
}
%tab-burger-icon {
    @media (max-width: $size-0600) {
        display: block;
        color: $color-02;
        font-size: $size-030;
        position: absolute;
        top: $size-010;
        right: $size-030;
        cursor:pointer;
    }
}
//FOOTER
//Desktop
%desk-xazi {
    @media (max-width: $size-01680) {
        width: $size-95;
    }
}
%desk-avtori {
    @media (max-width: $size-01680) {
        width: $size-90;
    }
}
//Tablet
%tab-foot-cont {
    @media (max-width: $size-01024) {
        width: $size-80;
    }
}
%tab-avtori-a {
    @media (max-width: $size-01024) {
        font-size: $size-010;
    }
}
//BURGER
%open-soci {
    @media (max-width: $size-0600) {
        .open-socicon {
            display: flex;
        }
    }
}
%nav-ul-open {
    @media (max-width: $size-0600) {
        .open-menu {
            display: block;
            flex-direction: column;
            padding: $size-015 0;
        }
    }
}

//Desktop
%desk-med {
    @media (max-width: $size-01750) {
        max-width: $size-95;
    }
    @media (max-width: $size-01536) {
        max-width: $size-90;
    }
    @media (max-width: $size-01440) {
        max-width: $size-90;
    }
    @media (max-width: $size-01366) {
        max-width: $size-90;
    }
    @media (max-width: $size-01024) {
        max-width: $size-90;
    }
}

//Tablet
%tab-med {
    @media (max-width: $size-01280) {
        max-width: $size-95;
    }
    @media (max-width: $size-0962) {
        max-width: $size-90;
    }
    @media (max-width: $size-0800) {
        font-size: $size-015;
    }
    @media (max-width: $size-0768) {
        max-width: $size-90;
    }
    @media (max-width: $size-0600) {
        max-width: $size-90;
    }
}
//Mobile
%mob-med {
    @media (max-width: $size-0414) {
        max-width: $size-95;
    }
    @media (max-width: $size-0375) {
        max-width: $size-90;
    }
    @media (max-width: $size-0360) {
        max-width: $size-90;
    }
}