%pc-navi-med {
    @media (max-width: 1600px) {
        height: 60px;
    }
    @media (max-width: 1366px) {
        height: 50px;
    }
}
%pc-fa-med {
    @media (max-width: 1366px) {
        font-size: 23px;
    }
}
%pc-navi-h4-med {
    @media (max-width: 1600px) {
        font-size: 19px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
}
%pc-sect-2-box-med {
    @media (max-width: 1600px) {
        width: 74%;
        height: 1065px;
    }
    @media (max-width: 1366px) {
        height: 965px;
    }
}
%pc-1-list-med {
    @media (max-width: 1600px) {
        width: 95%;
    }
}
%pc-1-list-box-med {
    @media (max-width: 1600px) {
        height: 215px;
    }
    @media (max-width: 1366px) {
        height: 190px;
    }
}
%pc-1-img-text-med {
    @media (max-width: 1366px) {
        width: 95%;
    }
}
%pc-1-img-med {
    @media (max-width: 1600px) {
        height: 190px;
    }
    @media (max-width: 1366px) {
        height: 170px;
    }
}
%pc-1-img-hrf-med {
    @media (max-width: 1600px) {
        height: 120px;
    }
    @media (max-width: 1366px) {
        height: 105px;
    }
}
%pc-1-img-box-med {
    @media (max-width: 1600px) {
        height: 110px;
    }
    @media (max-width: 1366px) {
        height: 100px;
    }
}
%pc-flt-icon-med {
    @media (max-width: 1600px) {
        max-width: 45px;
    }
    @media (max-width: 1366px) {
        max-width: 40px;
    }
}
%pc-flt-ico-nm-med {
    @media (max-width: 1366px) {
        max-width: 195px;
        height: 50px;
    }
}
%pc-ico-nm-h2-med {
    @media (max-width: 1600px) {
        font-size: 19px;
    }
    @media (max-width: 1366px) {
        font-size: 17px;
        margin: 0 12px 18px 0;
    }
}
%pc-1-slide-box-med {
    @media (max-width: 1600px) {
        height: 310px;
    }
    @media (max-width: 1366px) {
        height: 290px;
        margin-bottom: 20px;
    }
}
%pc-slide-img-text-med {
    @media (max-width: 1600px) {
        height: 85px;
    }
}
%pc-slide-icon-med {
    @media (max-width: 1600px) {
        max-width: 60px;
    }
    @media (max-width: 1366px) {
        max-width: 57px;
    }
}
%pc-slide-nm-med {
    @media (max-width: 1600px) {
        width: 92%;
        padding-top: 19px;
    }
    @media (max-width: 1366px) {
        height: 65px;
    }
}
%pc-slide-nm-h2-med {
    @media (max-width: 1366px) {
        font-size: 20px;
        margin: 0 15px 18px 0;
    }
}
%pc-best-med {
    @media (max-width: 1600px) {
        width: 93%;
        height: 200px;
    }
}
%slide-4-box-med {
    @media (max-width: 1600px) {
        width: 96%;
        height: 190px;
    }
    @media (max-width: 1366px) {
        width: 93%;
        height: 170px;
    }
}
%pc-4-box-med {
    @media (max-width: 1600px) {
        height: 75px;
    }
}
%pc-4-img-med {
    @media (max-width: 1600px) {
        max-width: 85px;
        height: 75px;
    }
}
%pc-4-img-box-med {
    @media (max-width: 1600px) {
        height: 45px;
    }
}
%pc-slick-dots-med {
    @media (max-width: 1600px) {
        bottom: -35px;
    }
}
%pc-1-brands-box-med {
    @media (max-width: 1600px) {
        height: 195px;
    }
    @media (max-width: 1366px) {
        height: 175px;
    }
}
%pc-4-text-med {
    @media (max-width: 1600px) {
        height: 180px;
    }
}
%pc-brends-med {
    @media (max-width: 1600px) {
        width: 70%;
        height: 70px;
    }
}
%pc-baner-s-med {
    @media (max-width: 1600px) {
        width: 98%;
        padding: 20px;
    }
    @media (max-width: 1366px) {
        width: 96%;
        padding: 19px;
    }
}