//IMAGE-100%
%bg-def {
    @include bg-img (url(../img/k1.PNG),$color-01);
    @include background (repeat,top left,auto $size-01,);
}
%bg-banner {
    @include bg-img (url(../img/iphone-b.png),$color-02);
    @include background (no-repeat,left,initial,);
}
%shad-def {
    background-image: url(../img/shad-3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1450px 180px;
}
%text-dec-def {
    text-decoration: underline solid $color-02;
}
//Font
%font-h1-def {
    font-size: $size-035;
    color: $color-02;
    font-family: 'archy-B';
    letter-spacing: $size-02;
}
%font-h2-def {
    font-size: $size-015;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-02;
    text-shadow: $size-01 $size--01 $size-01 $color-02;
}
%font-h3-def {
    font-size: $size-020;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-02;
    text-shadow: $size-01 $size--01 $size-01 $color-02;
}
%font-h3-flt {
    font-size: $size-030;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-01;
    text-shadow: 0 0 $size-01 $color-02;
}
%font-bol-def {
    font-size: $size-030;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-02;
    text-shadow: $size-01 $size--01 $size-01 $color-02;
    border-radius: $size-05;
}
%font-fa-def {
    font-size: $size-030;
    color: $color-02;
    letter-spacing: $size-020;
    text-shadow: 0 0 $size-01 $color-03;
    border-radius: $size-05;
}
%font-p-def {
    color: $color-03;
    font-family: 'alk-s';
    text-shadow: $size-01 0 $color-06;
}
%font-h1-baner {
    font-size: $size-035;
    color: $color-01;
    font-family: 'archy-B';
    letter-spacing: $size-01;
    text-shadow: $size-01 0 $color-06;
}
%font-p-baner {
    font-size: $size-015;
    color: $color-01;
    font-family: 'alk-s';
    letter-spacing: $size-01;
    text-shadow: $size-01 0 $color-06;
}
//Xazi
%xazi {
    max-width: $size-01820;
    width: $size-0;
    margin:$size-025 auto;
    content: ' ';
    color: $color-06;
    @include border (0.1px, solid, $color-08);
    box-shadow: 0 0 $size-015 $color-02;
}
//Border
%border-def {
    border-radius: $size-03;
    @include border (o, solid, $color-02);
    box-shadow: 0 0 0 $size-01 $color-03;
}
//Hover
%hover-def {
    &:hover {
        background-color: $color-08;
        box-shadow: 0 0 $size-010 $color-02;
        @include transition-hover (all,0.3s,linear,0.2s)
    }
}
%hover-sale {
    &:hover {
        max-width: $size-0170;
        width: $size-0;
        height: $size-025;
        border-bottom-right-radius: $size-050 $size-035;
        background-color: $color-07;
        @include d-flex (flex,space-around,center);
        @include transition-hover (all,0.3s,linear,0.2s);
    }
}
%hover-dop {
    &:hover {
        .nav-drop-ul {
            display: block;
        }
    }
}

//HEADER
%head-size {
    max-width: $size-01920;
    width: $size-0;
    top: 0;
    left: 0;
    position: fixed;
}
%nav-box-size {
    max-width: $size-01750;
    width: $size-0;
    margin: 0 auto;
}
%nav-logo-size {
    max-width: $size-0110;
    height: $size-0130;
}
%navi-size {
    max-width: $size-01560;
    width: $size-0;
}
%nav-ul-size {
    max-width: $size-01024;
    width: $size-0;
}
%soc-ul-size {
    max-width: $size-0414;
    width: $size-0;
}
//Drop-Down
%font-a-drop {
    font-size: $size-015;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-02;
    text-shadow: $size-01 $size--01 $size-01 $color-02;
}
//Sections
//Section-2
%sect-2-size {
    max-width: $size-01900;
    width: $size-0;
    height: $size-01920;
}
%sect-2-big-size {
    max-width: $size-01850;
    width: $size-0;
    height: $size-01440;
}
%sect-2-flt-size {
    max-width: $size-0550;
    width: $size-0;
    height: $size-01440;
}
%flt-cont-size {
    max-width: $size-0550;
    width: $size-0;
    height: $size-0170;
}
%flt-li-box-size {
    max-width: $size-090;
    height: $size-070;
}
%flt-ico-nm-size {
    max-width: $size-0450;
    width: $size-0;
    height: $size-065;
}
%ico-nm-h2-font {
    font-size: $size-040;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-010;
    text-shadow: 0 0 $size-01 $color-02;
    border-radius: $size-05;
}
%s2-flt-ul-size {
    max-width: $size-0550;
    width: $size-0;
    height: $size-01280;
}
%sect-2-box-size {
    max-width: $size-01240;
    width: $size-0;
    height: $size-01425;
}
%cont-1-list-size {
    max-width: $size-01750;
    width: $size-0;
}
%cont-1-size {
    width: $size-0;
}
%cont-1-list-box-size {
    max-width: $size-0600;
    width: $size-0;
    height: $size-0700;
}
%cont-1-img-size {
    max-width: $size-0600;
    height: $size-0480;
}
%cont-1-img-hrf-size {
    max-width: $size-0600;
    height: $size-0390;
}
%cont-1-img-text-size {
    max-width: $size-0600;
    width: $size-0;
    height: $size-100;
}
%flt-ico-nm-size {
    max-width: $size-0450;
    width: $size-0;
    height: $size-065;
}
%cont-1-box-size {
    max-width: $size-0390;
    width: $size-0;
    height: $size-0414;
}
%cont-1-fit-size {
    max-width: $size-0600;
    width: $size-0;
    height: $size-0230;
}
%cont-1-fit-li-font {
    font-size: $size-020;
    color: $color-06;
    font-family: 'BPG-A';
    letter-spacing: 0;
    text-shadow: 0 0 $size-01 $color-03;
}
%cont-1-h3-size {
    margin: $size-025 auto;
}
%sect-2-sm-size {
    max-width: $size-01850;
    width: $size-0;
    height: $size-0230;
}
%cont-1-sm-box-size {
    max-width: $size-0910;
    width: $size-0;
    height: $size-0170;
}
//Section-3
%sect-3-size {
    max-width: $size-01900;
    width: $size-0;
}
%sect-3-cont-size {
    max-width: $size-01780;
    width: $size-0;
    height: $size-0800;
}
%cont-2-text-size {
    max-width: $size-0550;
    width: $size-0;
    height: $size-0450;
}
%cont-2-p-box-size {
    max-width: $size-0550;
    width: $size-0;
    height: $size-0200;
}
%cont-2-box-size {
    max-width: $size-0550;
    width: $size-0;
    height: $size-0670;
}
%cont-2-p-font {
    font-size: $size-030;
    color: $color-06;
    font-family: 'BPG-A';
    letter-spacing: $size-01;
    text-shadow: 0 0 $size-01 $color-03;
}
%cont-2-h4-fonts {
    font-size: $size-040;
    color: $color-02;
    font-family: 'archy-B';
    letter-spacing: $size-03;
    text-shadow: $size-01 $size--01 $size-01 $color-03;
}
//Section-BanBox
%sect-banbox-size {
    max-width: $size-01900;
    width: $size-0;
    height: $size-01536;
}
%banbox-cont-size {
    max-width: $size-01850;
    width: $size-0;
    height: $size-0230;
}
%banbox-box-size {
    max-width: $size-0880;
    width: $size-0;
    height: $size-0170;
}
%consol-size {
    max-width: $size-0250;
    width: $size-0;
    height: $size-0170;
}
%consol-li-font {
    font-size: $size-030;
    color: $color-06;
    font-family: 'archy-B';
    letter-spacing: $size-05;
    text-shadow: 0 0 $size-01 $color-03;
}
%consol-li-dec {
    text-decoration: underline dotted $color-02;
}
%box-box-ico-size {
    max-width: $size-0230;
    width: $size-0;
    height: $size-0180;
}
%box-box-size {
    max-width: $size-0370;
    width: $size-0;
    height: $size-0250;
}
%banbox-cont-2-size {
    max-width: $size-01850;
    width: $size-0;
}
%sect-ban-cont-size {
    max-width: $size-01080;
    width: $size-0;
    height: $size-01024;
}
%tv-box-size {
    max-width: $size-01080;
    width: $size-0;
}
%tv-text-cont-size {
    max-width: $size-01080;
    width: $size-0;
    height: $size-0170;
}
%tv-ico-nm-size {
    max-width: $size-0962;
    width: $size-0;
    height: $size-0125;
}
%tv-ban-h1-size {
    width: $size-0;
    height: $size-080;
}
%sect-ban-h1-font {
    font-size: $size-050;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-05;
    text-shadow:  0 0 $size-01 $color-02;
}
%sect-ban-cont-2-size {
    max-width: $size-0750;
    width: $size-0;
    height: $size-01024;
}
%sect-ban-box-size {
    max-width: $size-0750;
    width: $size-0;
    height: $size-0500;
}
%ban-box-img-size {
    max-width: $size-0750;
    width: $size-0;
    height: $size-0390;
}
%tvh-text-cont-size {
    max-width: $size-0710;
    width: $size-0;
    height: $size-100;
}
%tvh-ico-nm-size {
    max-width: $size-0630;
    width: $size-0;
    height: $size-0150;
}
%tvh-ban-h1-size {
    max-width: $size-01600;
    width: $size-0;
    height: $size-080;
}
%tvh-ban-h1-font {
    font-size: $size-035;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-03;
    text-shadow:  0 0 $size-01 $color-02;
}
//Section-4
%sect-4-size {
    max-width: $size-01900;
    width: $size-0;
    height: $size-0600;
}
%sect-4-cont-size {
    max-width: $size-01850;
    width: $size-0;
    height: $size-0450;
}
%sect-4-box-size {
    max-width: $size-0550;
    width: $size-0;
    height: $size-0400;
}
%sect-4-img-size {
    max-width: $size-0300;
    height: $size-0400;
}
%sect-4-text-size {
    max-width: $size-0450;
    width: $size-0;
    height: $size-0340;
}
//Section-Banner
%sect-baner-size {
    max-width: $size-01900;
    width: $size-0;
    height: $size-0450;
}
%sect-baner-text-size {
    max-width: $size-0320;
    width: $size-0;
    height: $size-0230;
}

//Footer
%foot-lok-size {
    max-width: $size-01900;
    width: $size-0;
    height: $size-0550;
}
%foot-cont-size {
    max-width: $size-0500;
    width: $size-0;
    height: $size-0450;
}
%foot-box-size {
    max-width: $size-0500;
    width: $size-0;
    height: $size-0230;
}
%foot-p-size {
    max-width: $size-0450;
    width: $size-0;
}
%foot-p-font {
    font-size: $size-025;
    color: $color-03;
    font-family: 'alk-s';
    text-shadow: $size-01 0 $color-06;
}
%foot-ul-size {
    max-width: $size-0170;
    width: $size-0;
}
%foot-cont-2-size {
    max-width: $size-01240;
    width: $size-0;
    height: $size-0450;
} 
%foot-2-li-font {
    font-size: $size-030;
    color: $color-03;
    font-family: 'alk-s';
    text-shadow: $size-01 0 $color-06;
}
%avtori-size {
    max-width: $size-01750;
    width: $size-0;
}
%avtori-p-font {
    font-size: $size-025;
    color: $color-03;
    font-family: 'alk-s';
    text-shadow: $size-01 0 $color-06;
}
%avtori-a-font {
    font-size: $size-025;
    color: $color-03;
    font-family: 'archy-B';
    letter-spacing: $size-02;
    text-shadow: $size-01 $size--01 $size-01 $color-02;
}



