//Color
$color-01: #F4F6F6;
$color-02: #00A1C2;
$color-03: #565555;
$color-04: #255A5A;
$color-05: #85929E;
$color-06: #062D2D;
$color-07: #B91A89;
$color-08: #A9CCE3;
$color-010: #ECF0F1;

//Size-%
$size-0: 100%;
$size-26: 26%;
$size-30: 30%;
$size-35: 35%;
$size-60: 60%;
$size-65: 65%;
$size-70: 70%;
$size-75: 75%;
$size-80: 80%;
$size-87: 87%;
$size-90: 90%;
$size-95: 95%;

$size--01: -1px;
//Size-SM
$size-01: 1px;
$size-02: 2px;
$size-03: 3px;
$size-05: 5px;
$size-010: 10px;
$size-013: 13px;
$size-015: 15px;
$size-019: 19px;
$size-020: 20px;
$size-025: 25px;
$size-030: 30px;
$size-035: 35px;
$size-040: 40px;
$size-045: 45px;
$size-050: 50px;
$size-060: 60px;
$size-070: 70px;
$size-080: 80px;
$size-085: 85px;
$size-095: 95px;

//Size-XXL
$size-100: 100px;
$size-0110: 110px;
$size-0130: 130px;
$size-0160: 160px;
$size-0170: 170px;
$size-0200: 200px;
$size-0215: 215px;
$size-0230: 230px;
$size-0250: 250px;
$size-0270: 270px;
$size-0320: 320px;
$size-0340: 340px;
$size-0390: 390px;
$size-0400: 400px;
$size-0450: 450px;
$size-0500: 500px;
$size-0550: 550px;
$size-0810: 810px;
$size-0900: 900px;
$size-01060: 1060px;
$size-01080: 1080px;
$size-01120: 1120px;
$size-01190: 1190px;
$size-01280: 1280px;
$size-01350: 1350px;
$size-01560: 1560px;
$size-01750: 1750px;
$size-01980: 1980px;

//Desktop-media
$size-01240: 1240px;
$size-01366: 1366px;
$size-01440: 1440px;
$size-01536: 1536px;
$size-01600: 1600px;
$size-01640: 1640px;
$size-01680: 1680px;
$size-01820: 1820px;
$size-01850: 1850px;
$size-01920: 1920px;
$size-02240: 2240px;
$size-02350: 2350px;
$size-02440: 2440px;
$size-02540: 2540px;
$size-02560: 2560px;
//Tablet-media
$size-0600: 600px;
$size-0670: 670px;
$size-0768: 768px;
$size-0800: 800px;
$size-0962: 962px;
$size-01024: 1024px;
$size-01280: 1280px;
//Mobile-media
$size-0360: 360px;
$size-0375: 375px;
$size-0414: 414px;