@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'archy-B';
  src: url("../fonts/archy-B/archyedt-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/archy-B/archyedt-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archy-B/archyedt-bold-webfont.woff2") format("woff2"), url("../fonts/archy-B/archyedt-bold-webfont.woff") format("woff"), url("../fonts/archy-B/archyedt-bold-webfont.ttf") format("truetype"), url("../fonts/archy-B/archyedt-bold-webfont.svg#archyedt-bold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'BPG-A';
  src: url("../fonts/BPG-A/bpg-arial-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BPG-A/bpg-arial-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BPG-A/bpg-arial-caps-webfont.woff2") format("woff2"), url("../fonts/BPG-A/bpg-arial-caps-webfont.woff") format("woff"), url("../fonts/BPG-A/bpg-arial-caps-webfont.ttf") format("truetype"), url("../fonts/BPG-A/bpg-arial-caps-webfont.svg#bpg_arial_capsregular") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'alk-s';
  src: url("../fonts/alk-s/alk-sanet-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/alk-s/alk-sanet-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alk-s/alk-sanet-webfont.woff2") format("woff2"), url("../fonts/alk-s/alk-sanet-webfont.woff") format("woff"), url("../fonts/alk-salk-sanet-webfont.ttf") format("truetype"), url("../fonts/alk-salk-sanet-webfont.svg#alk_sanetregular") format("svg");
  /* Legacy iOS */ }

.body-bg {
  background-image: url(../img/k1.PNG);
  background-color: #F4F6F6;
  background-repeat: repeat;
  background-position: top left;
  background-size: auto 1px; }

.sect-baner {
  background-image: url(../img/iphone-b.png);
  background-color: #00A1C2;
  background-repeat: no-repeat;
  background-position: left;
  background-size: initial; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-fit .cont-1-fit-ul .cont-1-fit-li .cont-1-fit-a {
  text-decoration: underline solid #00A1C2; }

.head-cont .nav-box .navi .nav-ul .nav-li .nav-a, .sect-3 .sect-3-h1, .sect-4 .sect-4-h1, .foot-bg .foot-lok .foot-cont .foot-box .foot-h1, .foot-bg .foot-lok .foot-cont-2 .foot-2-box .foot-2-h1 {
  font-size: 35px;
  color: #00A1C2;
  font-family: 'archy-B';
  letter-spacing: 2px; }

.sect-2 .sect-2-big .sect-2-box .cont-1 .cont-1-box .cont-1-h3, .sect-2 .sect-2-sm .cont-1-sm-box .cont-1-sm-h3, .sect-4 .sect-4-cont .sect-4-box .sect-4-text .sect-4-h3 {
  font-size: 20px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #00A1C2; }

.sect-2 .sect-2-big .sect-2-flt .s2-flt-ul .s2-flt-li {
  font-size: 30px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 1px;
  text-shadow: 0 0 1px #00A1C2; }

.head-cont .nav-box .navi .soc-ul .soc-li .soc-a, .foot-bg .foot-lok .foot-cont .foot-box .cont-p .li-box .contact {
  font-size: 30px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #00A1C2;
  border-radius: 5px; }

.head-cont .nav-box .navi .soc-ul .soc-li .fa, .foot-bg .foot-lok .foot-cont .foot-box .foot-ul .foot-li .fa, .foot-bg .foot-lok .foot-cont .foot-box .cont-p .li-box .fa {
  font-size: 30px;
  color: #00A1C2;
  letter-spacing: 20px;
  text-shadow: 0 0 1px #565555;
  border-radius: 5px; }

.sect-4 .sect-4-cont .sect-4-box .sect-4-text .sect-4-p, .foot-bg .avtori .avtori-p {
  color: #565555;
  font-family: 'alk-s';
  text-shadow: 1px 0 #062D2D; }

.sect-baner .sect-baner-text .sect-baner-h1 {
  font-size: 35px;
  color: #F4F6F6;
  font-family: 'archy-B';
  letter-spacing: 1px;
  text-shadow: 1px 0 #062D2D; }

.sect-baner .sect-baner-text .sect-baner-p, .sect-baner .sect-baner-text .sect-baner-shop .sect-baner-h4 {
  font-size: 15px;
  color: #F4F6F6;
  font-family: 'alk-s';
  letter-spacing: 1px;
  text-shadow: 1px 0 #062D2D; }

.sect-2 .sect-2-big .sect-2-flt .flt-cont .flt-ico-nm .xazi, .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text .flt-ico-nm .xazi, .sect-3 .xazi, .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-ico-nm .xazi, .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-ico-nm .xazi, .sect-4 .xazi, .foot-bg .foot-lok .foot-cont .xazi, .foot-bg .xazi {
  max-width: 1820px;
  width: 100%;
  margin: 25px auto;
  content: ' ';
  color: #062D2D;
  border: 0.1px solid #A9CCE3;
  box-shadow: 0 0 15px #00A1C2; }

.head-cont, .head-cont .nav-box .nav-logo, .head-cont .nav-box .navi .nav-ul .nav-li .nav-drop-ul .nav-drop-li, .sect-1 .sect-1-cont .sect-1-box .sect-1-img, .sect-2, .sect-2 .sect-2-big .sect-2-flt .s2-flt-ul .s2-flt-li, .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box, .sect-2 .sect-2-big .sect-2-box .cont-1 .cont-1-box, .sect-2 .sect-2-sm .cont-1-sm-box, .sect-3, .sect-3 .sect-3-cont .cont-2-box, .sect-3 .sect-3-cont .cont-2-box .cont-2-text, .sect-banbox, .sect-banbox .banbox-cont .banbox-box, .sect-banbox .banbox-cont-2 .sect-ban-cont, .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box, .sect-4, .sect-4 .sect-4-cont .sect-4-box, .sect-baner, .foot-bg {
  border-radius: 3px;
  border: o solid #00A1C2;
  box-shadow: 0 0 0 1px #565555; }

.head-cont .nav-box .nav-logo:hover, .head-cont .nav-box .navi .soc-ul .soc-li .soc-a:hover, .foot-bg .foot-lok .foot-cont .foot-box .cont-p .li-box .contact:hover {
  background-color: #A9CCE3;
  box-shadow: 0 0 10px #00A1C2;
  transition: all 0.3s linear 0.2s; }

.head-cont .nav-box .navi .nav-ul .nav-li:hover .nav-drop-ul {
  display: block; }

.head-cont {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed; }

.head-cont .nav-box {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto; }

.head-cont .nav-box .nav-logo {
  max-width: 110px;
  width: 100%;
  height: 130px; }

.head-cont .nav-box .navi {
  max-width: 1560px;
  width: 100%; }

.head-cont .nav-box .navi .nav-ul {
  max-width: 1024px;
  width: 100%; }

.head-cont .nav-box .navi .soc-ul {
  max-width: 414px;
  width: 100%; }

.head-cont .nav-box .navi .nav-ul .nav-li .nav-drop-ul .nav-drop-li .nav-drop {
  font-size: 15px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #00A1C2; }

.sect-2 {
  max-width: 1900px;
  width: 100%;
  height: 1820px; }

.sect-2 .sect-2-big {
  max-width: 1850px;
  width: 100%;
  height: 1440px; }

.sect-2 .sect-2-big .sect-2-flt {
  max-width: 550px;
  width: 100%;
  height: 1440px; }

.sect-2 .sect-2-big .sect-2-flt .flt-cont {
  max-width: 550px;
  width: 100%;
  height: 170px; }

.sect-2 .sect-2-big .sect-2-flt .s2-flt-ul .s2-flt-li .flt-li-box {
  max-width: 90px;
  height: 70px; }

.sect-2 .sect-2-big .sect-2-flt .flt-cont .flt-ico-nm, .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text .flt-ico-nm {
  max-width: 450px;
  width: 100%;
  height: 65px; }

.sect-2 .sect-2-big .sect-2-flt .flt-cont .flt-ico-nm .ico-nm-h2 {
  font-size: 40px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 10px;
  text-shadow: 0 0 1px #00A1C2;
  border-radius: 5px; }

.sect-2 .sect-2-big .sect-2-flt .s2-flt-ul {
  max-width: 550px;
  width: 100%;
  height: 1280px; }

.sect-2 .sect-2-big .sect-2-box {
  max-width: 1240px;
  width: 100%;
  height: 1425px; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list {
  max-width: 1750px;
  width: 100%; }

.sect-2 .sect-2-big .sect-2-box .cont-1 {
  width: 100%; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box {
  max-width: 610px;
  width: 100%;
  height: 700px; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img {
  max-width: 600px;
  height: 480px; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-hrf {
  max-width: 600px;
  height: 390px; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text {
  max-width: 600px;
  width: 100%;
  height: 100px; }

.sect-2 .sect-2-big .sect-2-flt .flt-cont .flt-ico-nm, .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text .flt-ico-nm {
  max-width: 450px;
  width: 100%;
  height: 65px; }

.sect-2 .sect-2-big .sect-2-box .cont-1 .cont-1-box {
  max-width: 390px;
  width: 100%;
  height: 414px; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-fit {
  max-width: 600px;
  width: 100%;
  height: 230px; }

.sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-fit .cont-1-fit-ul .cont-1-fit-li .cont-1-fit-a {
  font-size: 20px;
  color: #062D2D;
  font-family: 'BPG-A';
  letter-spacing: 0;
  text-shadow: 0 0 1px #565555; }

.sect-2 .sect-2-big .sect-2-box .cont-1 .cont-1-box .cont-1-h3, .sect-2 .sect-2-sm .cont-1-sm-box .cont-1-sm-h3 {
  margin: 25px auto; }

.sect-2 .sect-2-sm {
  max-width: 1850px;
  width: 100%;
  height: 230px; }

.sect-2 .sect-2-sm .cont-1-sm-box {
  max-width: 910px;
  width: 100%;
  height: 170px; }

.sect-3 {
  max-width: 1900px;
  width: 100%; }

.sect-3 .sect-3-cont {
  max-width: 1780px;
  width: 100%;
  height: 800px; }

.sect-3 .sect-3-cont .cont-2-box .cont-2-text {
  max-width: 550px;
  width: 100%;
  height: 450px; }

.sect-3 .sect-3-cont .cont-2-box .cont-2-p-box {
  max-width: 550px;
  width: 100%;
  height: 200px; }

.sect-3 .sect-3-cont .cont-2-box {
  max-width: 550px;
  width: 100%;
  height: 670px; }

.sect-3 .sect-3-cont .cont-2-box .cont-2-p-box .cont-2-p {
  font-size: 30px;
  color: #062D2D;
  font-family: 'BPG-A';
  letter-spacing: 1px;
  text-shadow: 0 0 1px #565555; }

.sect-3 .sect-3-cont .cont-2-box .cont-2-p-box .cont-2-cost .cont-2-h4 {
  font-size: 40px;
  color: #00A1C2;
  font-family: 'archy-B';
  letter-spacing: 3px;
  text-shadow: 1px -1px 1px #565555; }

.sect-banbox {
  max-width: 1900px;
  width: 100%;
  height: 1440px; }

.sect-banbox .banbox-cont {
  max-width: 1850px;
  width: 100%;
  height: 230px; }

.sect-banbox .banbox-cont .banbox-box {
  max-width: 880px;
  width: 100%;
  height: 170px; }

.sect-banbox .banbox-cont .banbox-box .consol {
  max-width: 250px;
  width: 100%;
  height: 170px; }

.sect-banbox .banbox-cont .banbox-box .consol .consol-ul .consol-li {
  font-size: 30px;
  color: #062D2D;
  font-family: 'archy-B';
  letter-spacing: 5px;
  text-shadow: 0 0 1px #565555; }

.sect-banbox .banbox-cont .banbox-box .consol .consol-ul .consol-li {
  text-decoration: underline dotted #00A1C2; }

.sect-banbox .banbox-cont .banbox-box .box-box-ico {
  max-width: 230px;
  width: 100%;
  height: 180px; }

.sect-banbox .banbox-cont .banbox-box .box-box {
  max-width: 370px;
  width: 100%;
  height: 250px; }

.sect-banbox .banbox-cont-2 {
  max-width: 1850px;
  width: 100%; }

.sect-banbox .banbox-cont-2 .sect-ban-cont {
  max-width: 1080px;
  width: 100%;
  height: 860px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont .tv-box {
  max-width: 1080px;
  width: 100%; }

.sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont {
  max-width: 1024px;
  width: 100%;
  height: 170px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-ico-nm {
  max-width: 880px;
  width: 100%;
  height: 125px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-ico-nm .tv-ban-h1 {
  width: 100%;
  height: 80px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-ico-nm .tv-ban-h1 {
  font-size: 50px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 5px;
  text-shadow: 0 0 1px #00A1C2; }

.sect-banbox .banbox-cont-2 .sect-ban-cont-2 {
  max-width: 750px;
  width: 100%;
  height: 860px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box {
  max-width: 750px;
  width: 100%;
  height: 420px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .ban-box-img {
  max-width: 750px;
  width: 100%;
  height: 390px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont {
  max-width: 710px;
  width: 100%;
  height: 100px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-ico-nm {
  max-width: 630px;
  width: 100%;
  height: 150px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-ico-nm .tvh-ban-h1 {
  max-width: 1600px;
  width: 100%;
  height: 80px; }

.sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-ico-nm .tvh-ban-h1 {
  font-size: 35px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 3px;
  text-shadow: 0 0 1px #00A1C2; }

.sect-4 {
  max-width: 1900px;
  width: 100%;
  height: 600px; }

.sect-4 .sect-4-cont {
  max-width: 1850px;
  width: 100%;
  height: 450px; }

.sect-4 .sect-4-cont .sect-4-box {
  max-width: 550px;
  width: 100%;
  height: 400px; }

.sect-4 .sect-4-cont .sect-4-box .sect-4-img {
  max-width: 300px;
  height: 400px; }

.sect-4 .sect-4-cont .sect-4-box .sect-4-text {
  max-width: 450px;
  width: 100%;
  height: 340px; }

.sect-baner {
  max-width: 1900px;
  width: 100%;
  height: 450px; }

.sect-baner .sect-baner-text {
  max-width: 320px;
  width: 100%;
  height: 230px; }

.foot-bg .foot-lok {
  max-width: 1900px;
  width: 100%;
  height: 550px; }

.foot-bg .foot-lok .foot-cont {
  max-width: 500px;
  width: 100%;
  height: 450px; }

.foot-bg .foot-lok .foot-cont .foot-box {
  max-width: 500px;
  width: 100%;
  height: 230px; }

.foot-bg .foot-lok .foot-cont .foot-box .foot-p {
  max-width: 450px;
  width: 100%; }

.foot-bg .foot-lok .foot-cont .foot-box .foot-p {
  font-size: 25px;
  color: #565555;
  font-family: 'alk-s';
  text-shadow: 1px 0 #062D2D; }

.foot-bg .foot-lok .foot-cont .foot-box .foot-ul {
  max-width: 170px;
  width: 100%; }

.foot-bg .foot-lok .foot-cont-2 {
  max-width: 1240px;
  width: 100%;
  height: 450px; }

.foot-bg .foot-lok .foot-cont-2 .foot-2-box .foot-2-ul .foot-2-li {
  font-size: 30px;
  color: #565555;
  font-family: 'alk-s';
  text-shadow: 1px 0 #062D2D; }

.foot-bg .avtori {
  max-width: 1750px;
  width: 100%; }

.foot-bg .avtori .avtori-p {
  font-size: 25px;
  color: #565555;
  font-family: 'alk-s';
  text-shadow: 1px 0 #062D2D; }

.foot-bg .avtori .avtori-a {
  font-size: 25px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #00A1C2; }

.head-cont {
  margin: 2px auto;
  background-color: #F4F6F6;
  z-index: 1; }
  .head-cont .nav-box {
    padding: 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .head-cont .nav-box .nav-logo .img-100 {
      width: 100%; }
    .head-cont .nav-box .navi {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .head-cont .nav-box .navi .nav-ul {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .head-cont .nav-box .navi .nav-ul .nav-li {
          border-radius: 5px; }
          .head-cont .nav-box .navi .nav-ul .nav-li .nav-drop-ul {
            max-width: 160px;
            width: 100%;
            height: 270px;
            position: absolute;
            top: 65%;
            left: 26%;
            display: none; }
            .head-cont .nav-box .navi .nav-ul .nav-li .nav-drop-ul .nav-drop-li {
              margin: 5px 0;
              padding: 5px 0;
              text-align: center;
              background-color: #F4F6F6; }
      .head-cont .nav-box .navi .soc-ul {
        display: flex; }
        .head-cont .nav-box .navi .soc-ul .soc-li {
          padding: 10px 0; }
        .head-cont .nav-box .navi .soc-ul .contact-ul {
          display: flex;
          justify-content: space-between;
          align-items: end;
          flex-direction: column; }
        .head-cont .nav-box .navi .soc-ul .contact-box {
          display: flex;
          justify-content: space-between;
          align-items: end;
          flex-direction: column; }
    .head-cont .nav-box .burger-icon {
      display: none; }

.sect-1 {
  margin: 200px auto 25px auto;
  position: relative; }
  .sect-1 .sect-1-cont {
    margin: 0 370px;
    z-index: 2; }
    .sect-1 .sect-1-cont .sect-1-box {
      max-width: 1820px;
      border-radius: 5px; }
      .sect-1 .sect-1-cont .sect-1-box .slick-dots {
        bottom: 30px; }
        .sect-1 .sect-1-cont .sect-1-box .slick-dots li button:before {
          font-size: 15px; }
        .sect-1 .sect-1-cont .sect-1-box .slick-dots .slick-active {
          margin: 0 20px; }
          .sect-1 .sect-1-cont .sect-1-box .slick-dots .slick-active button:before {
            color: #00A1C2; }
      .sect-1 .sect-1-cont .sect-1-box .sect-1-img {
        margin: 2px;
        width: 100%;
        height: 535px;
        box-shadow: 0 0 1px 1px #565555;
        border-radius: 5px; }

.sect-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  background-color: #F4F6F6;
  flex-direction: column; }
  .sect-2 .sect-2-big {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .sect-2 .sect-2-big .sect-2-flt {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column; }
      .sect-2 .sect-2-big .sect-2-flt .flt-cont {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .sect-2 .sect-2-big .sect-2-flt .flt-cont .flt-icon {
          max-width: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .sect-2 .sect-2-big .sect-2-flt .flt-cont .flt-icon .flt-icon-box {
            width: 100%; }
        .sect-2 .sect-2-big .sect-2-flt .flt-cont .flt-ico-nm {
          text-align: end; }
      .sect-2 .sect-2-big .sect-2-flt .s2-flt-ul .s2-flt-li {
        height: 90px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .sect-2 .sect-2-big .sect-2-flt .s2-flt-ul .s2-flt-li .flt-li-box {
          margin: 10px; }
          .sect-2 .sect-2-big .sect-2-flt .s2-flt-ul .s2-flt-li .flt-li-box .flt-li-img {
            width: 100%;
            height: 70px; }
    .sect-2 .sect-2-big .sect-2-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .sect-2 .sect-2-big .sect-2-box .cont-1-list {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box {
          background-color: #F4F6F6;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column; }
          .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-hrf {
              background-color: #ECF0F1;
              display: flex;
              justify-content: center;
              align-items: end; }
              .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-hrf .cont-1-img-box {
                height: 350px;
                width: 100%; }
            .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text {
              display: flex;
              justify-content: space-between;
              align-items: end;
              padding: 10px 20px; }
              .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text .flt-icon {
                max-width: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center; }
                .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text .flt-icon .flt-icon-box {
                  width: 100%; }
              .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text .flt-ico-nm {
                text-align: end;
                padding-top: 15px; }
                .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img .cont-1-img-text .flt-ico-nm .ico-nm-h2 {
                  font-size: 25px;
                  padding-right: 20px; }
          .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-fit {
            padding-left: 25px; }
            .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-fit .cont-1-fit-ul {
              height: 215px;
              display: flex;
              justify-content: space-around;
              align-items: end;
              flex-direction: column; }
              .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-fit .cont-1-fit-ul .cont-1-fit-li {
                max-width: 535px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center; }
      .sect-2 .sect-2-big .sect-2-box .cont-1 {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .sect-2 .sect-2-big .sect-2-box .cont-1 .cont-1-box {
          background-color: #ECF0F1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column; }
          .sect-2 .sect-2-big .sect-2-box .cont-1 .cont-1-box .cont-1-img {
            max-width: 200px; }
            .sect-2 .sect-2-big .sect-2-box .cont-1 .cont-1-box .cont-1-img .cont-1-img-box {
              width: 100%; }
  .sect-2 .sect-2-sm {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sect-2 .sect-2-sm .cont-1-sm-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #ECF0F1; }
      .sect-2 .sect-2-sm .cont-1-sm-box .cont-1-sm-img {
        margin-left: 50px;
        max-width: 320px; }
        .sect-2 .sect-2-sm .cont-1-sm-box .cont-1-sm-img .cont-1-sm-img-box {
          width: 100%; }

.sect-3 {
  text-align: center;
  margin: 70px auto 40px;
  background-color: #F4F6F6;
  padding: 10px; }
  .sect-3 .sect-3-h1 {
    margin-top: 30px; }
  .sect-3 .sect-3-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto; }
    .sect-3 .sect-3-cont .cont-2-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin: 10px; }
      .sect-3 .sect-3-cont .cont-2-box .cont-2-text {
        background-color: #ECF0F1;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-direction: column; }
        .sect-3 .sect-3-cont .cont-2-box .cont-2-text .cont-2-img-box .cont-2-text-img {
          width: 100%; }
      .sect-3 .sect-3-cont .cont-2-box .cont-2-p-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column; }
        .sect-3 .sect-3-cont .cont-2-box .cont-2-p-box .cont-2-p {
          margin-left: 10px;
          text-align: left; }
        .sect-3 .sect-3-cont .cont-2-box .cont-2-p-box .cont-2-cost {
          margin: 25px; }

.sect-banbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px auto;
  background-color: #F4F6F6;
  flex-direction: column; }
  .sect-banbox .banbox-cont {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .sect-banbox .banbox-cont .banbox-box {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .sect-banbox .banbox-cont .banbox-box .consol .consol-ul {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .sect-banbox .banbox-cont .banbox-box .consol .consol-ul .consol-li {
          padding-top: 10px; }
      .sect-banbox .banbox-cont .banbox-box .box-box-ico {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .sect-banbox .banbox-cont .banbox-box .box-box-ico .box-img-ico {
          height: 200px;
          width: 100%; }
      .sect-banbox .banbox-cont .banbox-box .box-box {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .sect-banbox .banbox-cont .banbox-box .box-box .box-img {
          height: 270px;
          width: 100%; }
  .sect-banbox .banbox-cont-2 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sect-banbox .banbox-cont-2 .sect-ban-cont {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background-color: #ECF0F1; }
      .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-box {
        display: flex;
        justify-content: center;
        align-items: center; }
        .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-box .tv {
          height: 550px;
          width: 100%; }
      .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-icon {
          max-width: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-icon .tv-icon-box {
            width: 100%; }
        .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-ico-nm {
          text-align: end; }
          .sect-banbox .banbox-cont-2 .sect-ban-cont .tv-text-cont .tv-ico-nm .tv-ban-h1 {
            padding: 30px 45px; }
    .sect-banbox .banbox-cont-2 .sect-ban-cont-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; }
        .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .ban-box-img {
          background-color: #ECF0F1; }
          .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .ban-box-img .cinema {
            height: 375px;
            width: 100%; }
        .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-icon {
            max-width: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-icon .tvh-icon-box {
              width: 100%; }
          .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-ico-nm {
            text-align: end; }
            .sect-banbox .banbox-cont-2 .sect-ban-cont-2 .sect-ban-box .tvh-text-cont .tvh-ico-nm .tvh-ban-h1 {
              padding: 40px 25px; }

.sect-4 {
  margin: 35px auto;
  background-color: #F4F6F6;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .sect-4 .sect-4-h1 {
    margin-top: 20px; }
  .sect-4 .sect-4-cont {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sect-4 .sect-4-cont .sect-4-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #F4F6F6;
      margin: 15px; }
      .sect-4 .sect-4-cont .sect-4-box .sect-4-img {
        background-color: #ECF0F1;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .sect-4 .sect-4-cont .sect-4-box .sect-4-img .sect-4-img-box {
          width: 100%; }
      .sect-4 .sect-4-cont .sect-4-box .sect-4-text .sect-4-h3 {
        margin: 10px; }
      .sect-4 .sect-4-cont .sect-4-box .sect-4-text .sect-4-p {
        height: 320px;
        margin: 10px; }

.sect-baner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto; }
  .sect-baner .sect-baner-text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column; }
  .sect-baner .sect-baner-img {
    max-width: 450px;
    margin-bottom: 19px; }
    .sect-baner .sect-baner-img .sect-baner-img-box {
      width: 100%; }

.foot-bg {
  background-color: #F4F6F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 40px; }
  .foot-bg .foot-lok {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse; }
    .foot-bg .foot-lok .foot-cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse; }
      .foot-bg .foot-lok .foot-cont .foot-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center; }
        .foot-bg .foot-lok .foot-cont .foot-box .foot-ul {
          display: flex;
          justify-content: space-around;
          align-items: center; }
        .foot-bg .foot-lok .foot-cont .foot-box .cont-p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column; }
          .foot-bg .foot-lok .foot-cont .foot-box .cont-p .li-box {
            padding: 5px 0; }
    .foot-bg .foot-lok .foot-cont-2 {
      display: flex;
      justify-content: space-around;
      align-items: baseline; }
      .foot-bg .foot-lok .foot-cont-2 .foot-2-box {
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; }
        .foot-bg .foot-lok .foot-cont-2 .foot-2-box .foot-2-ul {
          height: 250px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column; }
  .foot-bg .avtori {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.product-bg {
  margin: 170px 0 25px 0; }
  .product-bg .sect-conteiner-3 {
    max-width: 1920px;
    width: 100%;
    background-color: #F4F6F6;
    border: 2px solid #00A1C2;
    box-shadow: 1px 1px 10px 1px #565555;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px; }
    .product-bg .sect-conteiner-3 .prod-cont-3 {
      color: #565555;
      font-size: 25px;
      font-family: 'Poppins-B';
      text-shadow: 1px 1px #85929E;
      margin: 20px 0; }
    .product-bg .sect-conteiner-3 .xazi {
      max-width: 1080px;
      width: 100%;
      content: ' ';
      color: #062D2D;
      border: 0.1px solid #255A5A;
      box-shadow: 0 0 15px #00A1C2;
      margin-bottom: 50px; }
    .product-bg .sect-conteiner-3 .cont-3-h2 {
      color: #565555;
      font-size: 36px;
      font-family: 'Poopins-B';
      text-shadow: 1px 1px #85929E; }
    .product-bg .sect-conteiner-3 .cont-3-ul {
      max-width: 680px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .product-bg .sect-conteiner-3 .cont-3-ul .cont-3-li .cont-3-a {
        Color: #255A5A;
        font-size: 15px;
        font-family: 'Poppins-B';
        text-shadow: 1px 1px #85929E; }
    .product-bg .sect-conteiner-3 .container-3 {
      max-width: 1240px;
      width: 100%;
      margin: 15px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .product-bg .sect-conteiner-3 .container-3 .cont-3-box {
        max-width: 270px;
        width: 100%;
        height: 260px;
        background-image: url(../img/k1.PNG);
        background-repeat: repeat;
        background-position: right -20% bottom 0px, top left;
        background-size: auto 3px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        border: 2px solid #85929E;
        box-shadow: 3px 3px 6px 2px #565555;
        border-radius: 10px; }
        .product-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img {
          max-width: 200px; }
          .product-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img .sect-3-img-box {
            width: 100%; }
        .product-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-h3 {
          color: #565555;
          font-size: 20px;
          font-family: 'ALKDots';
          margin: 25px auto;
          text-shadow: 1px 1px #565555; }
    .product-bg .sect-conteiner-3 .sect-3-load {
      color: #00A1C2; }

.notebook-bg {
  width: 90%;
  margin: 170px 0 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F6F6;
  border: 2px solid #00A1C2;
  box-shadow: 1px 1px 10px 1px #565555;
  border-radius: 5px; }
  .notebook-bg .notebook-conteiner {
    max-width: 200px;
    width: 100%; }
  .notebook-bg .book-conteiner {
    max-width: 750px;
    width: 100%;
    margin: 15px; }
    .notebook-bg .book-conteiner .notebook-h2 {
      color: #565555;
      font-size: 25px;
      font-family: 'Poppins-B';
      text-shadow: 1px 1px #85929E;
      margin: 20px; }
    .notebook-bg .book-conteiner .xazi {
      margin: 20px 0 25px 0;
      max-width: 1080px;
      width: 100%;
      content: ' ';
      color: #062D2D;
      border: 0.1px solid #255A5A;
      box-shadow: 0 0 15px #00A1C2; }
    .notebook-bg .book-conteiner .book-cont {
      margin: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .notebook-bg .book-conteiner .book-cont .book-box {
        max-width: 170px;
        width: 100%;
        height: 220px;
        border: 2px solid #85929E;
        box-shadow: 3px 3px 6px 2px #565555;
        border-radius: 10px;
        text-align: center;
        background-image: url(../img/k1.PNG);
        background-repeat: repeat;
        background-position: right -20% bottom 0px, top left;
        background-size: auto 1px; }
        .notebook-bg .book-conteiner .book-cont .book-box .img-size {
          width: 100%; }
        .notebook-bg .book-conteiner .book-cont .book-box .book-p {
          font-size: 15px;
          font-family: 'Poppins-R';
          color: #85929E;
          margin: 10px auto; }
        .notebook-bg .book-conteiner .book-cont .book-box .book-h3 {
          font-size: 15px;
          font-family: 'Poppins-B';
          color: #85929E;
          margin: 10px auto; }

.contact-bg {
  width: 90%;
  margin: 170px 0 25px 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F4F6F6;
  border: 2px solid #00A1C2;
  box-shadow: 1px 1px 10px 1px #565555;
  border-radius: 5px; }
  .contact-bg .cotact-abaut {
    width: 80%;
    margin: 60px auto; }
    .contact-bg .cotact-abaut .contact-text-h2 {
      font-size: 20px;
      color: #565555;
      font-family: 'BPG Nino Medium Caps';
      text-shadow: 1px 1px #85929E; }
  .contact-bg .xazi {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    content: ' ';
    color: #062D2D;
    border: 0.1px solid #255A5A;
    box-shadow: 0 0 15px #00A1C2; }
  .contact-bg .contact-coment {
    margin: 50px auto; }
    .contact-bg .contact-coment .contact-formbox {
      display: flex; }
      .contact-bg .contact-coment .contact-formbox .formbox-1 .form-1-box {
        width: 500px;
        height: 170px;
        padding: 20px;
        resize: none;
        background-color: #F4F6F6;
        box-shadow: 1px 2px 10px 0px #565555;
        border: 1px solid #85929E;
        border-radius: 5px; }
      .contact-bg .contact-coment .contact-formbox .formbox-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0 10px; }
        .contact-bg .contact-coment .contact-formbox .formbox-2 .form-2-box {
          height: 40px;
          text-align: center;
          background-color: #F4F6F6;
          box-shadow: 1px 2px 10px 0px #565555;
          border: 1px solid #85929E;
          border-radius: 5px; }
        .contact-bg .contact-coment .contact-formbox .formbox-2 .btn {
          width: 150px;
          height: 30px;
          font-size: 10px;
          background-color: #F4F6F6;
          box-shadow: 1px 2px 10px 0px #565555;
          border: 1px solid #85929E;
          border-radius: 5px; }
          .contact-bg .contact-coment .contact-formbox .formbox-2 .btn .btn-icon {
            color: #00A1C2;
            font-size: 14px; }
  .contact-bg .xazi {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    content: ' ';
    color: #062D2D;
    border: 0.1px solid #255A5A;
    box-shadow: 0 0 15px #00A1C2; }
  .contact-bg .contact-nev {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px; }
    .contact-bg .contact-nev .contact-conteiner-1 {
      width: 50%;
      margin: 0 auto; }
      .contact-bg .contact-nev .contact-conteiner-1 .contact-text-h2 {
        margin-bottom: 10px;
        font-size: 14px;
        color: #565555;
        font-family: 'BPG Nino Medium Caps';
        text-shadow: 1px 1px #85929E; }
      .contact-bg .contact-nev .contact-conteiner-1 .xazi {
        margin: 0 auto 50px;
        max-width: 160px;
        width: 100%;
        content: ' ';
        color: #062D2D;
        border: 0.1px solid #255A5A;
        box-shadow: 0 0 15px #00A1C2; }
      .contact-bg .contact-nev .contact-conteiner-1 .contact-text-p {
        font-size: 14px;
        color: #565555;
        font-family: 'BPG Nino Medium Caps';
        text-shadow: 1px 1px #85929E; }
      .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap .sect-2-cont-3-box {
          margin-left: 9px;
          width: 90%;
          height: 150px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: 2px solid #85929E;
          box-shadow: 1px 1px 10px 1px #565555;
          border-radius: 20px;
          background-image: url(../img/k1.PNG);
          background-repeat: repeat;
          background-position: right -20% bottom 0px, top left;
          background-size: auto 1px; }
          .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img {
            max-width: 150px; }
            .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img .sect-2-cont-3-img-box {
              width: 100%; }

.sect-2-conteiner {
  background-color: #00A1C2;
  max-width: 1920px;
  width: 100%;
  height: 330px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 15px 1px 15px 3px #565555;
  border: 2px solid #85929E;
  border-radius: 20px; }
  .sect-2-conteiner .sect-2-text {
    max-width: 330px;
    width: 100%;
    height: 224px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column; }
    .sect-2-conteiner .sect-2-text .sect-2-h2 {
      color: #F4F6F6;
      font-size: 36px;
      font-family: 'Poopins-B'; }
    .sect-2-conteiner .sect-2-text .sect-2-p {
      color: #F4F6F6;
      font-size: 14px;
      font-family: 'Poppins-R'; }
    .sect-2-conteiner .sect-2-text .sect-2-shop .sect-2-h4 {
      color: #F4F6F6;
      font-size: 14px;
      font-family: 'Poppins-R'; }
  .sect-2-conteiner .sect-2-img {
    max-width: 340px;
    margin-bottom: 23px; }
    .sect-2-conteiner .sect-2-img .sect-2-img-box {
      width: 100%; }

.book-bg {
  width: 90%;
  margin: 170px 0 25px 60px;
  background-color: #F4F6F6;
  border: 2px solid #00A1C2;
  box-shadow: 1px 1px 10px 1px #565555;
  border-radius: 5px; }
  .book-bg .book-container {
    width: 90%;
    height: 900px;
    background-color: #F4F6F6;
    margin: 0 auto;
    padding: 20px; }
    .book-bg .book-container .book-box {
      display: flex;
      justify-content: space-between;
      align-items: end;
      border: 2px solid #85929E;
      box-shadow: 3px 3px 6px 2px #565555;
      border-radius: 10px;
      padding: 20px;
      background-image: url(../img/k1.PNG);
      background-repeat: repeat;
      background-position: right -20% bottom 0px, top left;
      background-size: auto 1px; }
      .book-bg .book-container .book-box .img-box {
        max-width: 400px;
        width: 100%;
        height: 320px;
        border: 2px solid #85929E;
        box-shadow: 3px 3px 6px 2px #565555;
        border-radius: 10px;
        background-color: #F4F6F6; }
        .book-bg .book-container .book-box .img-box .img-size {
          width: 100%; }
      .book-bg .book-container .book-box .book-text-box {
        max-width: 700px;
        width: 100%;
        height: 700px;
        text-align: left;
        padding: 20px;
        background-color: #F4F6F6;
        border: 2px solid #85929E;
        box-shadow: 3px 3px 6px 2px #565555;
        border-radius: 10px;
        margin-left: 25px; }
        .book-bg .book-container .book-box .book-text-box .book-h2 {
          color: #565555;
          font-size: 30px;
          font-family: 'BPG Nino Medium Caps';
          margin-bottom: 15px; }
        .book-bg .book-container .book-box .book-text-box .xazi {
          margin: 0 auto 25px;
          max-width: 740px;
          width: 100%;
          content: ' ';
          color: #062D2D;
          border: 0.1px solid #255A5A;
          box-shadow: 0 0 15px #00A1C2; }
        .book-bg .book-container .book-box .book-text-box .book-h3 {
          color: #565555;
          font-size: 30px;
          font-family: 'BPG Nino Medium Caps';
          margin-bottom: 30px; }
        .book-bg .book-container .book-box .book-text-box .book-specy {
          max-width: 650px;
          width: 100%;
          margin: 0 auto; }
          .book-bg .book-container .book-box .book-text-box .book-specy .book-h4-box {
            text-align: center; }
            .book-bg .book-container .book-box .book-text-box .book-specy .book-h4-box .book-h4 {
              margin-bottom: 10px; }
          .book-bg .book-container .book-box .book-text-box .book-specy .xazi {
            margin: 0 auto 25px;
            max-width: 340px;
            width: 100%;
            content: ' ';
            color: #062D2D;
            border: 0.1px solid #255A5A;
            box-shadow: 0 0 15px #00A1C2; }
          .book-bg .book-container .book-box .book-text-box .book-specy .book-tbl {
            max-width: 640px;
            width: 100%;
            margin: 0 auto; }
            .book-bg .book-container .book-box .book-text-box .book-specy .book-tbl .book-tr {
              max-width: 640px;
              width: 100%;
              margin: 20px 0;
              display: flex;
              justify-content: space-between;
              align-items: end;
              text-decoration-line: underline; }
              .book-bg .book-container .book-box .book-text-box .book-specy .book-tbl .book-tr:nth-child(1n) {
                text-align: start; }
              .book-bg .book-container .book-box .book-text-box .book-specy .book-tbl .book-tr:nth-child(2n) {
                text-align: end; }
              .book-bg .book-container .book-box .book-text-box .book-specy .book-tbl .book-tr .book-th {
                color: #565555; }

@media (max-width: 1600px) {
  .head-cont .nav-box {
    width: 90%; } }

@media (max-width: 600px) {
  .head-cont .nav-box {
    flex-direction: column; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .nav-logo {
    max-width: 60px;
    height: 70px; } }

@media (max-width: 600px) {
  .head-cont .nav-box .nav-logo {
    margin: 0 auto; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .navi {
    width: 85%; } }

@media (max-width: 1366px) {
  .head-cont .nav-box .navi {
    width: 80%; } }

@media (max-width: 1024px) {
  .head-cont .nav-box .navi {
    width: 87%; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi {
    flex-direction: column; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .open-menu {
    display: block;
    text-align: center;
    padding: 20px 0; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .navi .nav-ul {
    width: 60%; } }

@media (max-width: 800px) {
  .head-cont .nav-box .navi .nav-ul {
    max-width: 375px; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .nav-ul {
    display: none; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .nav-ul .nav-li {
    max-width: 110px;
    margin: 0 auto;
    padding: 5px 0; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .navi .nav-ul .nav-li .nav-a {
    font-size: 25px; } }

@media (max-width: 800px) {
  .head-cont .nav-box .navi .nav-ul .nav-li .nav-a {
    font-size: 13px; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .navi .soc-ul {
    justify-content: flex-end;
    padding-right: 30px; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .soc-ul {
    display: none; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .open-socicon {
    display: flex; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .navi .soc-ul .soc-li {
    padding: 5px 0; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .navi .soc-ul .soc-li .fa {
    font-size: 20px; } }

@media (max-width: 1600px) {
  .head-cont .nav-box .navi .soc-ul .soc-li .soc-a {
    font-size: 20px; } }

@media (max-width: 600px) {
  .head-cont .nav-box .burger-icon {
    display: block;
    color: #00A1C2;
    font-size: 30px;
    position: absolute;
    top: 13px;
    right: 50px;
    cursor: pointer; } }

@media (max-width: 1600px) {
  .sect-1 {
    height: 480px;
    margin: 125px 0 25px; } }

@media (max-width: 1600px) {
  .sect-1 .sect-1-cont {
    margin: 0 25px; } }

@media (max-width: 1600px) {
  .sect-1 .sect-1-cont .sect-1-box .sect-1-img {
    height: 480px;
    margin: 5px 0; } }

@media (max-width: 1600px) {
  .sect-2 {
    margin: 40px 0; } }

@media (max-width: 1600px) {
  .sect-2 .sect-2-big {
    width: 98%; } }

@media (max-width: 1600px) {
  .sect-2 .sect-2-big .sect-2-flt .flt-cont {
    width: 90%; } }

@media (max-width: 1600px) {
  .sect-2 .sect-2-big .sect-2-flt .s2-flt-ul {
    width: 90%; } }

@media (max-width: 1600px) {
  .sect-2 .sect-2-big .sect-2-box {
    height: 1420px; } }

@media (max-width: 1600px) {
  .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box {
    max-width: 500px;
    width: 90%; } }

@media (max-width: 1600px) {
  .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-img {
    width: 90%; } }

@media (max-width: 1600px) {
  .sect-2 .sect-2-big .sect-2-box .cont-1-list .cont-1-list-box .cont-1-fit .cont-1-fit-ul {
    width: 90%; } }

@media (max-width: 1680px) {
  .foot-bg .foot-lok .foot-cont .xazi, .foot-bg .xazi {
    width: 95%; } }

@media (max-width: 600px) {
  .foot-bg .foot-lok .foot-cont-2 {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 1680px) {
  .foot-bg .avtori {
    width: 90%; } }

@media (max-width: 1024px) {
  .foot-bg .foot-lok .foot-cont {
    width: 80%; } }

@media (max-width: 414px) {
  .foot-bg .foot-lok .foot-cont {
    flex-direction: column-reverse; } }

@media (max-width: 1024px) {
  .foot-bg .avtori .avtori-a {
    font-size: 10px; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .open-socicon {
    display: flex; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .open-menu {
    display: block;
    flex-direction: column;
    padding: 15px 0; } }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
