/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'archy-B';
  src: url("../fonts/archy-B/archyedt-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/archy-B/archyedt-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archy-B/archyedt-bold-webfont.woff2") format("woff2"), url("../fonts/archy-B/archyedt-bold-webfont.woff") format("woff"), url("../fonts/archy-B/archyedt-bold-webfont.ttf") format("truetype"), url("../fonts/archy-B/archyedt-bold-webfont.svg#archyedt-bold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'BPG-A';
  src: url("../fonts/BPG-A/bpg-arial-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BPG-A/bpg-arial-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BPG-A/bpg-arial-caps-webfont.woff2") format("woff2"), url("../fonts/BPG-A/bpg-arial-caps-webfont.woff") format("woff"), url("../fonts/BPG-A/bpg-arial-caps-webfont.ttf") format("truetype"), url("../fonts/BPG-A/bpg-arial-caps-webfont.svg#bpg_arial_capsregular") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'alk-s';
  src: url("../fonts/alk-s/alk-sanet-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/alk-s/alk-sanet-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alk-s/alk-sanet-webfont.woff2") format("woff2"), url("../fonts/alk-s/alk-sanet-webfont.woff") format("woff"), url("../fonts/alk-salk-sanet-webfont.ttf") format("truetype"), url("../fonts/alk-salk-sanet-webfont.svg#alk_sanetregular") format("svg");
  /* Legacy iOS */ }

.body-bg {
  background-image: url(../img/k1.PNG);
  background-color: #F4F6F6;
  background-repeat: repeat;
  background-position: top left;
  background-size: auto 3px; }

.head-cont .nav-box .navi .nav-ul .nav-li .nav-a {
  font-size: 20px;
  color: #00A1C2;
  font-family: 'archy-B';
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #565555; }

.foot-bg .foot-cont .foot-box .foot-h2, .foot-bg .foot-cont-2 .foot-2-box .foot-2-h2, .foot-bg .avtori .avtori-a {
  font-size: 15px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #00A1C2; }

.head-cont .nav-box .navi .soc-ul .soc-li .soc-a, .foot-bg .foot-cont .foot-box .cont-p .li-box .contact {
  font-size: 15px;
  color: #565555;
  font-family: 'archy-B';
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #00A1C2;
  border-radius: 5px; }

.head-cont .nav-box .navi .soc-ul .soc-li .fa, .foot-bg .foot-cont .foot-box .foot-ul .foot-li .fa, .foot-bg .foot-cont .foot-box .cont-p .li-box .fa {
  font-size: 15px;
  color: #00A1C2;
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #565555;
  border-radius: 5px; }

.foot-bg .foot-cont .foot-box .foot-p, .foot-bg .foot-cont-2 .foot-2-box .foot-2-ul .foot-2-li, .foot-bg .avtori .avtori-p {
  color: #565555;
  font-family: 'alk-s';
  text-shadow: 1px 0 #062D2D; }

.foot-bg .xazi {
  max-width: 1750px;
  width: 100%;
  margin: 25px 0 25px 0;
  content: ' ';
  color: #062D2D;
  border: 0.1px solid #A9CCE3;
  box-shadow: 0 0 15px #00A1C2; }

.head-cont, .head-cont .nav-box .nav-logo, .foot-bg {
  border-radius: 5px;
  border: 1px solid #00A1C2;
  box-shadow: 0 0 2px 0 #565555; }

.head-cont .nav-box .nav-logo:hover, .head-cont .nav-box .navi .nav-ul .nav-li:hover, .head-cont .nav-box .navi .soc-ul .soc-li .soc-a:hover, .foot-bg .foot-cont .foot-box .cont-p .li-box .contact:hover {
  background-color: #A9CCE3;
  box-shadow: 0 0 10px #00A1C2;
  transition: all 0.3s linear 0.2s; }

.head-cont {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed; }

.head-cont .nav-box {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0 5px; }

.head-cont .nav-box .nav-logo {
  max-width: 40px;
  height: 45px; }

.head-cont .nav-box .navi {
  max-width: 1280px;
  width: 100%; }

.head-cont .nav-box .navi .nav-ul {
  max-width: 600px;
  width: 100%; }

.head-cont .nav-box .navi .soc-ul {
  max-width: 230px;
  width: 100%; }

.foot-bg .foot-cont {
  max-width: 1240px;
  width: 100%; }

.foot-bg .foot-cont .foot-box {
  max-width: 320px;
  width: 100%;
  height: 160px; }

.foot-bg .foot-cont .foot-box .foot-p {
  max-width: 270px;
  width: 100%; }

.foot-bg .foot-cont .foot-box .foot-ul {
  max-width: 170px;
  width: 100%; }

.foot-bg .foot-cont-2 {
  max-width: 1750px;
  width: 100%; }

.foot-bg .avtori {
  max-width: 1750px;
  width: 100%; }

@media (max-width: 600px) {
  .head-cont {
    display: block;
    text-align: center; } }

@media (max-width: 600px) {
  .head-cont .nav-box .nav-logo {
    margin: 0 auto; } }

@media (max-width: 1680px) {
  .head-cont .nav-box .navi {
    width: 75%; } }

@media (max-width: 1366px) {
  .head-cont .nav-box .navi {
    width: 80%; } }

@media (max-width: 1024px) {
  .head-cont .nav-box .navi {
    width: 87%; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi {
    flex-direction: column; } }

@media (max-width: 1680px) {
  .head-cont .nav-box {
    width: 90%; } }

@media (max-width: 600px) {
  .head-cont .nav-box {
    flex-direction: column;
    margin: 0 auto; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .open-menu {
    display: block;
    text-align: center;
    padding: 20px 0; } }

@media (max-width: 1024px) {
  .head-cont .nav-box .navi .nav-ul {
    max-width: 450px; } }

@media (max-width: 800px) {
  .head-cont .nav-box .navi .nav-ul {
    max-width: 375px; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .nav-ul {
    display: none;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .nav-ul .nav-li {
    padding-bottom: 10px; } }

@media (max-width: 1024px) {
  .head-cont .nav-box .navi .nav-ul .nav-li .nav-a {
    font-size: 15px; } }

@media (max-width: 800px) {
  .head-cont .nav-box .navi .nav-ul .nav-li .nav-a {
    font-size: 13px; } }

@media (max-width: 600px) {
  .head-cont .nav-box .navi .nav-ul .nav-li .nav-a {
    display: block; } }

@media (max-width: 800px) {
  .head-cont .nav-box .navi .soc-ul {
    max-width: 200px; } }

@media (max-width: 800px) {
  .head-cont .nav-box .navi .soc-ul .soc-li .soc-a {
    font-size: 13px; } }

@media (max-width: 1680px) {
  .foot-bg .xazi {
    width: 95%; } }

@media (max-width: 1680px) {
  .foot-bg .avtori {
    width: 90%; } }

@media (max-width: 1024px) {
  .foot-bg .foot-cont {
    width: 80%; } }

@media (max-width: 1024px) {
  .foot-bg .avtori .avtori-a {
    font-size: 10px; } }

.head-cont {
  background-color: #F4F6F6; }
  .head-cont .nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .head-cont .nav-box .nav-logo .img-100 {
      width: 100%; }
    .head-cont .nav-box .navi {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .head-cont .nav-box .navi .nav-ul {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .head-cont .nav-box .navi .nav-ul .nav-li {
          border-radius: 5px; }
      .head-cont .nav-box .navi .soc-ul {
        display: flex; }
        .head-cont .nav-box .navi .soc-ul .soc-li {
          padding: 5px 0; }
        .head-cont .nav-box .navi .soc-ul .contact-ul {
          padding: 0 10px; }
        .head-cont .nav-box .navi .soc-ul .contact-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column; }
    .head-cont .nav-box .burger-icon {
      display: none; }

.sect-1 {
  margin: 170px 0 25px 0; }

.foot-bg {
  background-color: #F4F6F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 40px; }
  .foot-bg .foot-cont {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .foot-bg .foot-cont .foot-box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .foot-bg .foot-cont .foot-box .foot-ul {
        display: flex;
        justify-content: space-around;
        align-items: center; }
      .foot-bg .foot-cont .foot-box .cont-p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; }
        .foot-bg .foot-cont .foot-box .cont-p .li-box {
          padding: 5px 0; }
  .foot-bg .foot-cont-2 {
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
    .foot-bg .foot-cont-2 .foot-2-box {
      height: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
      .foot-bg .foot-cont-2 .foot-2-box .foot-2-ul {
        height: 130px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; }
        .foot-bg .foot-cont-2 .foot-2-box .foot-2-ul .foot-2-li {
          font-size: 15px; }
  .foot-bg .avtori {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .foot-bg .avtori .avtori-p {
      font-size: 10px; }
